<div class="flex flex-col lg:max-w-6xl lg:mx-auto lg:px-8">
    <nav class="md:flex pt-5 hidden" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a
                    href="#"
                    class="uppercase inline-flex items-center font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
                >
                    <svg
                        class="mr-2 w-4 h-4"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
                        ></path>
                    </svg>
                    Home
                </a>
            </li>
            <!-- <li>
            <div class="flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a href="#" class="ml-1  font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Projects</a>
            </div>
          </li> -->
            <li aria-current="page">
                <div class="flex items-center">
                    <svg
                        class="w-6 h-6 text-gray-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"
                        ></path>
                    </svg>
                    <span
                        class="ml-1 font-medium text-gray-400 md:ml-2 dark:text-gray-500 uppercase"
                        >đăng nhập</span
                    >
                </div>
            </li>
        </ol>
    </nav>

    <div class="md:py-5 mx-3 md:mx-0">
        <div class="pb-5">
            <h3
                class="text-2xl md:text-left text-center text-blue-500 uppercase mb-0 font-bold"
            >
                đăng nhập hoặc đăng ký thành viên
            </h3>
        </div>
        <div class="px-10 md:flex">
            <div class="md:w-1/2 py-5 relative">
                <div class="w-4/5 flex items-center justify-center">
                    <form class="w-full">
                        <p class="text-lg font-medium">Thông tin đăng nhập</p>
                        <div class="w-full">
                            <input
                                class="border-b border-black px-1 py-2 w-full"
                                type="text"
                                placeholder="ex) 0912345678/ abc@gmail.com"
                                aria-label="Full name"
                            />
                        </div>
                        <div class="w-full">
                            <input
                                class="border-b border-black px-1 py-2 w-full"
                                type="number"
                                placeholder="password"
                                aria-label="Full name"
                            />
                        </div>
                        <a
                            class="text-right font-bold text-md text-blue-500 pt-3 block"
                            >Quên mật khẩu ?</a
                        >

                        <div
                            class="text-xl text-white bg-blue-500 uppercase flex items-center justify-center py-2 w-full mt-5"
                        >
                            <span>đăng nhập</span>
                            <span class="material-icons ml-3"> east </span>
                        </div>
                        <div class="py-5">
                            <p class="text-md text-center">
                                Đăng nhập nhanh / Đăng ký thành viên bằng <br />
                                tài khoản mạng xã hội
                            </p>
                        </div>
                        <div class="flex items-center justify-center">
                            <div class="w-28 h-10 mr-3 bg-red-100"></div>
                            <div class="w-28 h-10 ml-3 bg-red-100"></div>
                        </div>
                    </form>
                </div>
                <div class="absolute w-px h-full bg-black right-0 top-0"></div>
            </div>
            <div class="md:w-1/2">
                <div class="w-4/5 flex items-center justify-center pl-10 ">
                    <div class="py-5 ">
                        <h3 class="text-lg pb-3 font-medium">
                            Đăng ký thành viên mới
                        </h3>
                        <p class="text-justify">
                            Đăng ký ngay để mua sắm dễ dàng hơn và tận hưởng
                            thêm nhiều ưu đãi độc quyền cho thành viên SHARYN.
                        </p>
                        <div
                            class="text-xl text-blue-500 border border-blue-500 uppercase flex items-center justify-center py-2 w-full mt-5"
                        >
                            <span>đăng Ký</span>
                            <span class="material-icons ml-3"> east </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
