<div class="flex flex-col lg:max-w-6xl lg:mx-auto lg:px-8">
    <nav class="md:flex pt-5 hidden" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a
                    href="#"
                    class="uppercase inline-flex items-center font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
                >
                    <svg
                        class="mr-2 w-4 h-4"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
                        ></path>
                    </svg>
                    Home
                </a>
            </li>
            <!-- <li>
            <div class="flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a href="#" class="ml-1  font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Projects</a>
            </div>
          </li> -->
            <li aria-current="page">
                <div class="flex items-center">
                    <svg
                        class="w-6 h-6 text-gray-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"
                        ></path>
                    </svg>
                    <span
                        class="ml-1 font-medium text-gray-400 md:ml-2 dark:text-gray-500 uppercase"
                        >đăng nhập</span
                    >
                </div>
            </li>
        </ol>
    </nav>

    <div class="md:py-5 mx-3 md:mx-0">
        <div class="my-5 pb-1 flex relative justify-between">
            <h3
                class="text-2xl md:text-left text-center text-blue-500 uppercase mb-0 font-bold"
            >
                đăng ký thành viên
            </h3>
            <div class="flex flex-col justify-end pr-5">
                <p class="">* Vui lònh nhập đầy đủ các hạng mục bắt buộc</p>
            </div>
            <div class="absolute bottom-0 left-0 h-px w-full bg-black"></div>
        </div>
        <div class="w-2/3 mx-auto">
            <form>
                <div class="flex items-center mb-5">
                    <label class="w-3/12">Địa chỉ email của bạn*</label>
                    <input
                        class="border border-black px-5 w-6/12 py-2 text-lg"
                        placeholder="Vui lòng nhập email của bạn"
                    />
                    <div
                        class="w-3/12 h-full text-white bg-blue-500 text-center ml-3 py-2 font-bold text-lg uppercase"
                    >
                        <span>xác nhận</span>
                    </div>
                </div>
                <div class="flex items-center mb-5">
                    <label class="w-3/12">Tên*</label>
                    <div class="flex items-center">
                        <input
                            class="border border-black px-5 w-1/2 py-2 text-lg md:mr-2"
                            placeholder="Họ"
                        />
                        <input
                            class="border border-black px-5 w-1/2 py-2 text-lg md:ml-2"
                            placeholder="Tên"
                        />
                    </div>
                </div>
                <div class="flex items-center mb-5">
                    <label class="w-3/12">Mật khẩu*</label>
                    <input
                        class="border border-black px-5 w-9/12 py-2 text-lg md:mr-2"
                        type="password"
                        placeholder="Vui lòng nhập 6 - 12 ký tự gồm chữ cái/chữ số"
                    />
                </div>
                <div class="flex items-center mb-5">
                    <label class="w-3/12">Xác nhận mật khẩu*</label>
                    <input
                        class="border border-black px-5 w-9/12 py-2 text-lg md:mr-2"
                        type="password"
                        placeholder="Vui lòng nhập lại mật khẩu của bạn"
                    />
                </div>
                <div class="flex items-center mb-5">
                    <label class="w-3/12">Ngày sinh*</label>
                    <div class="w-6/12 flex items-center">
                        <div class="w-1/2">
                            <select
                                class="border border-black text-lg py-2 w-full px-3"
                            >
                                <option>Ngày</option>
                            </select>
                        </div>
                        <div class="w-1/2 mx-3">
                            <select
                                class="border border-black text-lg py-2 w-full px-3"
                            >
                                <option>Tháng</option>
                            </select>
                        </div>
                        <div class="w-1/2">
                            <select
                                class="border border-black text-lg py-2 w-full px-3"
                            >
                                <option>Năm</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="flex items-center mb-5">
                    <label class="w-3/12">Số điện thoại*</label>
                    <div class="w-6/12 flex items-center">
                        <input
                            class="border border-black px-5 w-full py-2 text-lg"
                            type="number"
                            placeholder="Vui lòng nhập số điện thoại của bạn"
                        />
                    </div>
                </div>
                <div class="flex items-center mb-5">
                    <label class="w-3/12">Giới tính*</label>
                    <div class="w-4/12 flex items-center">
                        <section class="example-section w-full">
                            <mat-radio-group
                                class="flex w-full justify-between"
                            >
                                <mat-radio-button
                                    class="example-margin"
                                    value="after"
                                    >Nữ</mat-radio-button
                                >
                                <mat-radio-button
                                    class="example-margin"
                                    value="before"
                                    >Nam</mat-radio-button
                                >
                            </mat-radio-group>
                        </section>
                    </div>
                </div>
                <div class="flex items-center mb-5">
                    <label class="w-3/12"></label>
                    <div class="w-6/12 flex items-center">
                        <div
                            class="text-center w-full py-2 text-lg text-white bg-blue-500 uppercase flex items-center justify-center"
                        >
                            <span>đăng nhập</span>
                            <span class="material-icons ml-3"> east </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
