<div class="w-full pt-10">
    <p
        class="md:w-4/5 w-full mx-auto md:border-2 border-black text-center py-2 uppercase md:text-2xl md:rounded-2xl"
    >
        để phát huy hiệu quả tối ưu, bạn làm theo <br />
        hướng dẫn như sau:
    </p>
    <div class="w-full">
        <div class="flex flex-col items-center justify-between pt-5">
            <div
                class="relative w-16 h-16 rounded-full border-2 border-blue-500"
            >
                <div
                    class="absolute w-12 h-12 font-bold rounded-full flex border-2 border-blue-500 left-1/2 top-1/2 center-image items-center flex-col justify-center text-xl text-blue-500"
                >
                    1
                </div>
            </div>
            <p class="md:text-xl text-md text-center">
                Hãy tẩy trang và làm sạch da mặt bằng sữa
                <br />rữa mặt yêu thích của bạn
            </p>
            <div class="h-1 mt-3 w-40 bg-blue-500 hidden md:block"></div>
        </div>
        <div class="flex flex-col items-center justify-between pt-5">
            <div
                class="relative w-16 h-16 rounded-full border-2 border-blue-500"
            >
                <div
                    class="absolute w-12 h-12 font-bold rounded-full flex border-2 border-blue-500 left-1/2 top-1/2 center-image items-center flex-col justify-center text-xl text-blue-500"
                >
                    2
                </div>
            </div>
            <p class="md:text-xl text-md text-center">Cân bằng da với Toner</p>
            <div class="h-1 mt-3 w-40 bg-blue-500 hidden md:block"></div>
        </div>
        <div class="flex flex-col items-center justify-between pt-5">
            <div
                class="relative w-16 h-16 rounded-full border-2 border-blue-500"
            >
                <div
                    class="absolute w-12 h-12 font-bold rounded-full flex border-2 border-blue-500 left-1/2 top-1/2 center-image items-center flex-col justify-center text-xl text-blue-500"
                >
                    3
                </div>
            </div>
            <p class="md:text-xl text-md text-center">
                Thoa tinh thể thần kỳ Miracle lên da mặt. Giữ nguyên trong
                <br />
                vòng 8 tiếng (không rửa lại với nước trong thời gian này)
            </p>
            <div class="h-1 mt-3 w-40 bg-blue-500 hidden md:block"></div>
        </div>
        <div class="flex flex-col items-center justify-between pt-5">
            <div
                class="relative w-16 h-16 rounded-full border-2 border-blue-500"
            >
                <div
                    class="absolute w-12 h-12 font-bold rounded-full flex border-2 border-blue-500 left-1/2 top-1/2 center-image items-center flex-col justify-center text-xl text-blue-500"
                >
                    4
                </div>
            </div>
            <p class="md:text-xl text-md text-center">
                Sau 8 đến 24 tiếng, rửa sạch da mặt bằng nước ấm, nhớ
                <br />
                không dùng sữa rửa mặt trong khoảng thời gian này.
            </p>
            <div class="h-1 mt-3 w-40 bg-blue-500 hidden md:block"></div>
        </div>
        <div class="flex flex-col items-center justify-between pt-5">
            <div
                class="relative w-16 h-16 rounded-full border-2 border-blue-500"
            >
                <div
                    class="absolute w-12 h-12 font-bold rounded-full flex border-2 border-blue-500 left-1/2 top-1/2 center-image items-center flex-col justify-center text-xl text-blue-500"
                >
                    5
                </div>
            </div>
            <p class="md:text-xl text-md text-center">
                Sau 24 giờ bạn có thể sử dụng sữa rửa mặt.
            </p>
            <div class="h-1 mt-3 w-40 bg-blue-500 hidden md:block"></div>
        </div>
        <p
            class="md:text-2xl text-sm pt-10 list-disc italic text-center text-blue-500"
        >
            <strong>Lưu ý: </strong>Không dùng sản phẩm lên vết thương hở
        </p>
    </div>
</div>
