<div class="flex flex-col lg:max-w-6xl lg:mx-auto lg:px-8">
    <nav class="md:flex pt-5 hidden" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a
                    href="#"
                    class="uppercase inline-flex items-center font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
                >
                    <svg
                        class="mr-2 w-4 h-4"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
                        ></path>
                    </svg>
                    Home
                </a>
            </li>
            <!-- <li>
            <div class="flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a href="#" class="ml-1  font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Projects</a>
            </div>
          </li> -->
            <li aria-current="page">
                <div class="flex items-center">
                    <svg
                        class="w-6 h-6 text-gray-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"
                        ></path>
                    </svg>
                    <span
                        class="ml-1 font-medium text-gray-400 md:ml-2 dark:text-gray-500 uppercase"
                        >sản phẩm</span
                    >
                </div>
            </li>
        </ol>
    </nav>
    <div class="mt-10 lg:px-3 lg:px-0 lg:h-96 h-80 hidden lg:block">
        <div class="relative pt-5 intro box h-full">
            <div
                class="flex lg:flex-row flex-col left-0 top-0 w-full h-full absolute z-10"
            >
                <img
                    class="w-full h-full absolute left-0 hidden lg:block"
                    src="../../../assets/images/banner-sp.png"
                    alt=""
                />
            </div>
        </div>
    </div>
    <div class="lg:pt-20 pt-10 relative">
        <div class="px-3 lg:px-0">
            <h3
                class="text-center text-2xl font-bold uppercase text-blue-500 md:hidden"
            >
                Combo dành cho bạn
            </h3>
            <div class="hidden lg:grid lg:grid-cols-4 grid-cols-1 gap-5">
                <div
                    class="rounded-lg h-full flex flex-col combo relative pb-6"
                    *ngFor="let item of combo"
                >
                    <div class="p-1 relative">
                        <a
                            class="flex flex-col items-center justify-between text-black h-full"
                            routerLink="{{ item.slug }}"
                        >
                            <div class="w-full h-full relative overflow-hidden">
                                <img
                                    src="{{ item.image }}"
                                    class="w-full h-full rounded-lg"
                                    alt=""
                                />
                                <div
                                    class="absolute w-full h-full top-0 opacity-70 z-0 img-overlay"
                                ></div>
                                <!-- <div
                                    class="absolute top-0 right-3 pt-2 pb-1 px-1 text-xl rounded-b-xl text-white bg-red-500 font-bold sale-popup"
                                >
                                    50%
                                </div> -->
                            </div>
                            <div
                                class="py-3 flex flex-col justify-between relative"
                            >
                                <div class="relative">
                                    <p
                                        class="font-bold uppercase md:text-left text-center text-xl md:text-base"
                                    >
                                        {{ item.name }}
                                    </p>
                                    <div
                                        class="absolute w-1/2 h-px bg-black border-bottom"
                                    ></div>
                                </div>

                                <div
                                    class="uppercase text-md des text-justify mt-5"
                                >
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Expedita animi,
                                        numquam dolorem velit fuga nam dolorum
                                        alias fugiat placeat repellat? Autem
                                        accusantium aut assumenda ea facilis,
                                        quo libero similique dicta!
                                    </p>
                                </div>
                            </div>
                            <a
                                class="bg-gray-300 text-black py-1 px-4 rounded-lg text-center text-xl uppercase md:hidden"
                                routerLink="{{ item.slug }}"
                            >
                                xem thêm
                            </a>
                        </a>
                        <div
                            class="absolute left-0 bg-gray-300 h-px w-full bottom-0 hover:h-0"
                        ></div>
                    </div>

                    <a
                        class="bg-gray-300 text-white text-center text-xl uppercase w-full xemthem absolute rounded-b-lg hidden lg:block"
                        routerLink="{{ item.slug }}"
                    >
                        xem thêm
                    </a>
                </div>
            </div>
            <div class="p-1 relative lg:hidden">
                <a
                    class="flex flex-col items-center justify-between text-black h-full"
                    routerLink="{{ combo[0].slug }}"
                >
                    <div class="w-full h-full relative overflow-hidden">
                        <img
                            src="{{ combo[0].image }}"
                            class="w-full h-full rounded-lg"
                            alt=""
                        />
                        <div
                            class="absolute w-full h-full top-0 opacity-70 z-0 img-overlay"
                        ></div>
                        <!-- <div
                            class="absolute top-0 right-3 pt-2 pb-1 px-1 text-xl rounded-b-xl text-white bg-red-500 font-bold sale-popup"
                        >
                            50%
                        </div> -->
                    </div>
                    <div class="py-3 flex flex-col justify-between relative">
                        <div class="relative">
                            <p
                                class="font-bold uppercase md:text-left text-center text-xl md:text-base"
                            >
                                {{ combo[0].name }}
                            </p>
                            <div
                                class="absolute w-1/2 h-px bg-black border-bottom"
                            ></div>
                        </div>

                        <div class="uppercase text-md des text-justify mt-5">
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Expedita animi, numquam
                                dolorem velit fuga nam dolorum alias fugiat
                                placeat repellat? Autem accusantium aut
                                assumenda ea facilis, quo libero similique
                                dicta!
                            </p>
                        </div>
                    </div>
                    <a
                        class="bg-gray-300 text-black py-1 px-4 rounded-lg text-center text-xl uppercase"
                        routerLink="{{ combo[0].slug }}"
                    >
                        xem thêm
                    </a>
                </a>
                <div
                    class="absolute left-0 bg-gray-300 h-px w-full bottom-0 hover:h-0 hidden lg:block"
                ></div>
            </div>
        </div>

        <div class="absolute h-px top-10 bg-black w-full hidden md:block"></div>
    </div>
    <div class="lg:hidden px-3 py-10">
        <div class="relative pb-3">
            <h3 class="text-center uppercase text-2xl">
                combo gồm những sản phẩm
            </h3>
            <div class="absolute w-full h-px bottom-0 left-0 bg-black"></div>
        </div>
        <div class="flex py-3 relative">
            <div class="w-28 h-auto bg-red-100 relative mr-3"></div>
            <div class="w-full">
                <div class="relative w-full mb-1 pb-1">
                    <h3 class="uppercase font-bold text-base">DNA SHARYN</h3>
                    <p class="text-sm uppercase">
                        thần dược dành riêng <br />cho làn da không tuổi
                    </p>
                    <div class="absolute w-1/2 h-px bg-black bottom-0"></div>
                </div>
                <div>
                    <div class="flex">
                        <span class="text-xl text-blue-500"
                            >30ml - 1.200.000 đ</span
                        >
                    </div>
                    <span class="text-xs text-justify"
                        >Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Vero pariatur dolorum labore odio fugit, suscipit
                        omnis, mollitia aperiam eos beatae harum sit? Earum
                        officia exercitationem suscipit quam sit! Tempora,
                        tempore.</span
                    >
                </div>
            </div>
            <div class="absolute w-full h-px bottom-0 left-0 bg-black"></div>
        </div>
        <div class="flex py-3 relative">
            <div class="w-28 h-auto bg-red-100 relative mr-3"></div>
            <div class="w-full">
                <div class="relative w-full mb-1 pb-1">
                    <h3 class="uppercase font-bold text-base">DNA SHARYN</h3>
                    <p class="text-sm uppercase">
                        thần dược dành riêng <br />cho làn da không tuổi
                    </p>
                    <div class="absolute w-1/2 h-px bg-black bottom-0"></div>
                </div>
                <div>
                    <div class="flex">
                        <span class="text-xl text-blue-500"
                            >30ml - 1.200.000 đ</span
                        >
                    </div>
                    <span class="text-xs text-justify"
                        >Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Vero pariatur dolorum labore odio fugit, suscipit
                        omnis, mollitia aperiam eos beatae harum sit? Earum
                        officia exercitationem suscipit quam sit! Tempora,
                        tempore.</span
                    >
                </div>
            </div>
            <div class="absolute w-full h-px bottom-0 left-0 bg-black"></div>
        </div>
        <div class="flex py-3 relative">
            <div class="w-28 h-auto bg-red-100 relative mr-3"></div>
            <div class="w-full">
                <div class="relative w-full mb-1 pb-1">
                    <h3 class="uppercase font-bold text-base">DNA SHARYN</h3>
                    <p class="text-sm uppercase">
                        thần dược dành riêng <br />cho làn da không tuổi
                    </p>
                    <div class="absolute w-1/2 h-px bg-black bottom-0"></div>
                </div>
                <div>
                    <div class="flex">
                        <span class="text-xl text-blue-500"
                            >30ml - 1.200.000 đ</span
                        >
                    </div>
                    <span class="text-xs text-justify"
                        >Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Vero pariatur dolorum labore odio fugit, suscipit
                        omnis, mollitia aperiam eos beatae harum sit? Earum
                        officia exercitationem suscipit quam sit! Tempora,
                        tempore.</span
                    >
                </div>
            </div>
            <div class="absolute w-full h-px bottom-0 left-0 bg-black"></div>
        </div>
    </div>

    <div class="product md:py-5 mx-3 md:mx-0">
        <div class="flex flex-col more-hover">
            <div class=" mb-3">
                <h3 class="text-2xl md:text-left text-center text-blue-500 uppercase mb-0 font-bold">
                    GỢI Ý DÀNH RIÊNG CHO BẠN
                </h3>
            </div>
            <div class="w-full bg-black" style="height: 1px"></div>
        </div>
       
        <swiper [pagination]="true" [config]="config" class="mySwiper flex py-10 ">
            <ng-template swiperSlide *ngFor="let item of products">
                <div class="lg:h-68">
                    <a
                        class="flex flex-col text-black h-full product-item"
                        href="#"
                    >
                        <div
                            class="w-full h-full  relative overflow-hidden"
                        >
                            <div
                                class="absolute w-full h-full top-0 opacity-70 z-0 img-overlay"
                            ></div>
                            <img
                                src="{{ item.image }}"
                                class="w-full h-full cover-img"
                                alt=""
                            />
                        </div>
                        <div class="pt-3">
                            <div class="relative">
                                <p
                                    class="font-bold uppercase text-lg"
                                >
                                    {{ item.name }}
                                </p>

                                <div
                                    class="absolute bottom-0 lg:w-1/3 w-1/2 left-0 h-px bg-black"
                                ></div>
                            </div>
                            <div class="flex items-center pt-1 md:pt-0">
                                <p
                                    class="pr-2 mb-0 text-blue-500 text-2xl "
                                >
                                    {{ item.price }} đ
                                </p>
                                <!-- <div class="relative flex">
                                        <p class="text-xs mb-0">1.780.000đ</p>
                                        <div
                                            class="absolute top-1/2 left-0 w-full rotate-line"
                                        ></div>
                                    </div> -->
                            </div>
                        </div>
                    </a>
                </div>
            </ng-template>
        </swiper>

        <!-- <div
            class="flex justify-center items-center pt-3 button-hover cursor-pointer"
        >
            <a href="'#" class="lg:hidden px-4 py-2 uppercase rounded-lg border border-black"
                >xem thêm sản phẩm nổi bật</a
            >
        </div> -->
    </div>
    <div class="py-10">
       <app-banner-form></app-banner-form>
    </div>
</div>
