<div class="flex flex-col lg:max-w-6xl lg:mx-auto lg:px-8">
    <nav class="md:flex pt-5 hidden" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a
                    href="#"
                    class="uppercase inline-flex items-center font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
                >
                    <svg
                        class="mr-2 w-4 h-4"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
                        ></path>
                    </svg>
                    Home
                </a>
            </li>
            <!-- <li>
            <div class="flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a href="#" class="ml-1  font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Projects</a>
            </div>
          </li> -->
            <li aria-current="page">
                <div class="flex items-center">
                    <svg
                        class="w-6 h-6 text-gray-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"
                        ></path>
                    </svg>
                    <span
                        class="ml-1 font-medium text-gray-400 md:ml-2 dark:text-gray-500 uppercase"
                        >tư vấn online</span
                    >
                </div>
            </li>
        </ol>
    </nav>
    <div class="md:py-20 py-10 md:px-0 px-5">
        <div class="flex flex-col items-center justify-center">
            <div>
                <div class="relative mb-5">
                    <h3 class="text-2xl uppercase text-center">
                        Bạn có hẹn tư vấn online cùng sharyn ?
                    </h3>
                    <div
                        class="absolute h-px md:w-96 w-72 bottom-0 bg-black centerX"
                    ></div>
                </div>
                <p class="text-lg text-center">
                    Bạn đang lo lắng về vấn đề làn da, quy trình chăm sóc da
                    chưa đúng cách?
                    <br />
                    Hãy inbox ngay để trò chuyện với SHARYN về các vấn đề làn da
                    của bạn nhanh chóng,
                    <br />
                    hiệu quả và chính xác nhé
                </p>
            </div>
            <div class="py-7">
                <p>Thông tin liên hệ:</p>
                <div class="flex">
                    <a class="p-2 bg-gray-200 mr-1 border-r border-black"
                        >+84</a
                    >
                    <input class="border-b border-black w-72" type="number" />
                </div>
            </div>
            <a
               
                class="text-center text-2xl cursor-pointer py-1 font-bold uppercase md:w-96 w-72 rounded-2xl border border-black"
                routerLink="../tinhtrang"
                >
                tư vấn ngay
            </a>
        </div>
    </div>
</div>
