/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";

.swiper-pagination-bullet {
    border: 1px solid #000;
    background: inherit;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background: #000 !important;
}

.mat-tab-labels {
    justify-content: space-around;
    border-bottom: 1px solid black;
    .mat-tab-label {
        font-size: 1.5rem;
    }
    .mat-ink-bar {
        height: 3px;
        background-color: #000 !important;
    }
}

.tabs-mobile {
    .mat-accordion {
        border-radius: inherit;
        margin: 0 5px;
        .mat-expansion-panel {
            margin-bottom: inherit !important;
            background: transparent !important;
            .mat-expansion-panel-header{
                border-top: 1px solid #000 ;
                border-bottom: 1px solid #000   ;
            border-radius: 0;

            }
         
            .mat-expansion-panel-body{
                padding: inherit !important;
            }
        }
        .mat-expansion-panel-spacing{
            margin: inherit;
        }
    }
}

.example-sidenav{
    .mat-expansion-panel-header{
        padding: 0 24px 0 0;
    }
    .mat-accordion .mat-expansion-panel{
        box-shadow: none;
        --tw-shadow:none;
        display: inline;
    }
}
.product-detail{
    .swiper-button-prev, .swiper-button-next{
        padding: 30px 20px !important;
        background-color: rgb(238, 236, 233);
        color: #000;
    }
    .swiper-button-prev::after, .swiper-button-next::after{
        font-size: 24px;
    }
    .swiper-button-prev{
        left: 0;
    }
    .swiper-button-next{
        right: 0;
    }
}
@media screen and (max-width: 768px) {
    .product-detail{
        .swiper-button-prev{
            display: none;
        }
        .swiper-button-next{
            display: none;

        }
    }
}
