<div class="md:pt-10">
    <div class="w-full h-full ">
        <img
            src="../../../../../../assets/images/SẢN PHẨM CHI TIẾT/THÀNH PHẦN/tp.png"
            class="w-full h-full hidden md:block"
        />
        <img
            src="../../../../../assets/images/banner-thanhphan-mb.png"
            class="w-full h-full md:hidden"
        />
    </div>
</div>
<div class="pt-5 px-6">
    <p class="text-lg pt-2">
        <strong class="italic">- Punica Granatum Fruit Extract </strong>
        (Chiết xuất hạt lựu): chứa nhiều chất chống oxy hóa, vitamin A, C, E
        chống lại quá trình lão hóa da.
    </p>
    <p class="text-lg pt-2">
        <strong class="italic">- Ficus Carica </strong>
        (Fig) Fruit Extract (trái Sung Mỹ): giảm mụn và tình trạng tăng sắc tố
        trên da.
    </p>
    <p class="text-lg pt-2">
        <strong class="italic">- Aloe Barbadensis Leaf Extract </strong>
        (chiết xuất Lô hội): Cấp ẩm, tái tạo, làm sáng da
    </p>
    <p class="text-lg pt-2">
        <strong class="italic">- Retinal: </strong>
        dẫn xuất của vitamin A, có tác dụng chống oxy hóa ngăn ngừa lão hóa da,
        kích thích sản sinh collagen, giảm tổng hợp sắc tố melanin nên cũng có
        tác dụng làm trắng da, kháng khuẩn trị mụn.
    </p>
    <p class="text-lg pt-2">
        <strong class="italic">- Arbutin: </strong>
        “thành phần vàng” giúp làm trắng, xóa nám, tàn nhang, thâm mụn thần tốc.
    </p>
    <p class="text-lg pt-2">
        <strong class="italic">- Adenosine </strong>
        (Chiết xuất nhân sâm): loại bỏ độc tố tích tụ trên da, trả lại một làn
        da trắng sáng, mịn màng
    </p>
    <p class="text-lg pt-2">
        <strong class="italic">- Niacinamide </strong>
        (thuộc nhóm vitamin B, phức hợp vitamin B3): tăng đề kháng cho da, loại
        bỏ mụn, lỗ chân lông
    </p>
    <p class="text-lg pt-2">
        <strong class="italic">- Glycerin: </strong>
        Làm mềm, nuôi dưỡng tái tạo vùng da
    </p>
    <p class="text-lg pt-2">
        <strong class="italic">- Hexanediol: </strong>
        Kháng viêm
    </p>
    <p class="text-lg pt-2">
        <strong class="italic">- Galactomyces lên men: </strong>
        tăng độ đàn hồi, cân bằng cấu trúc da
    </p>
    <p class="text-lg pt-2">
        <strong class="italic">- Kojic acid dipalmitate: </strong>
        ngăn hình thành sắc tố melanin, triệt để nám
    </p>
    <p class="text-lg pt-2">
        <strong class="italic">- Acid lactic: </strong>
        Cấp ẩm, kích thích tăng sinh collagen, chống lão hóa
    </p>
    <p class="text-lg pt-2">
        <strong class="italic">- EGF </strong>
        (epidermal growth factor): yếu tố tăng trưởng biểu bì, một loại protein
        có trong da giúp sửa chữa tế bào da tổn thương, tái sinh làn da mới tươi
        trẻ hơn.
    </p>
</div>
