<div class="w-full flex relative">
    <div
        class="md:w-1/2 w-2/5    md:relative absolute  z-0 sm:top-10 md:top-0"
    >
        <img
            src="../../../../../../assets/images/SẢN PHẨM CHI TIẾT/Chất lượng/CHITIET-SANPHAM_SHARYN_1908-(file-rax).png"
            class=" hidden md:block"
        />
        <img
            src="../../../../../assets/images/banner-hieuqua-mb.png"
            class="w-full h-full md:hidden"
        />
    </div>
    <div class="md:w-1/2 w-full flex justify-center flex-col z-10">
        <div class="md:pt-10 pt-30 ml-40 mr-1 md:mx-0">
            <div class="md:w-72 w-56">
                <p
                    class="md:text-xl uppercase font-bold md:px-5 px-3 md:py-2 py-1 border border-black rounded-xl"
                >
                    điều trị da
                </p>
            </div>
            <ul class="pt-2 ml-10">
                <li class="md:text-xl text-base list-disc">Mụn, thâm mụn</li>
                <li class="md:text-xl text-base list-disc">Nám, tàn nhang</li>
                <li class="md:text-xl text-base list-disc">Sẹo rỗ</li>
                <li class="md:text-xl text-base list-disc">
                    Nang lông, lỗ chân lông to
                </li>
            </ul>
        </div>
        <div class="pt-5 ml-28 md:ml-0">
            <div class="md:w-72 w-56">
                <p
                    class="md:text-xl uppercase font-bold md:px-5 px-3 md:py-2 py-1 border border-black rounded-xl"
                >
                Tái tạo da
                </p>
            </div>
            <ul class="pt-2 ml-10">
                <li class="md:text-xl text-base list-disc">Trẻ hoá da, hỗ trợ cải thiện nếp nhăn, chảy xệ</li>
                <li class="md:text-xl text-base list-disc">Da không đều màu
                </li>
                <li class="md:text-xl text-base list-disc">Ngăn ngừa và chống lão hóa da</li>
            </ul>
        </div>
        <div class="pt-5 ml-4 md:ml-0">
            <div class="md:w-72 w-56">
                <p
                    class="md:text-xl uppercase font-bold md:px-5 px-3 md:py-2 py-1 border border-black rounded-xl"
                >
                Phục hồi da
                </p>
            </div>
            <ul class="pt-2 ml-10">
                <li class="md:text-xl text-base list-disc">Nền da mỏng yếu, lộ mao mạch</li>
                <li class="md:text-xl text-base list-disc">Da nhiễm corticoid</li>
                <li class="md:text-xl text-base list-disc">Da đã từng sử dụng những phương pháp xâm lấn</li>
            </ul>
        </div>
    </div>
</div>
