<div class="mx-12 my-6 lg:block hidden">
    <div class="flex py-4 relative">
        <div class="1/5 flex mr-5 flex-col justify-between">
            <div class="flex flex-col">
                <div class="bg-gray-100 h-16 w-36 mb-3">
                    <img
                        src="../../../assets/images/homepage/HOME_SHARYN_1908-(1).png"
                        class="w-full h-full"
                        alt=""
                    />
                </div>
                <ul class="flex pl-0">
                    <li class="h-7 w-7 mr-3">
                        <a
                            href="https://www.facebook.com/SharynSkinTherapy"
                            target="_blank"
                        >
                            <img
                                src="../../../assets/images/homepage/HOME_SHARYN_1908-(21).png"
                                class="w-full h-full"
                                alt=""
                            />
                        </a>
                    </li>
                    <li class="h-7 w-7 mr-3">
                        <img
                            src="../../../assets/images/homepage/35.png"
                            alt=""
                        />
                    </li>
                    <li class="h-7 w-7">
                        <a
                            href="https://www.youtube.com/channel/UCTozBRCqY1pX7EY2V4RCg3Q"
                            target="_blank"
                        >
                            <img
                                src="../../../assets/images/homepage/36.png"
                                alt=""
                            />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="h-20 w-72">
                <img
                    src="../../../assets/images/homepage/bct.png"
                    class="w-full h-full"
                    alt=""
                />
            </div>
        </div>
        <div class="w-4/5 ml-5">
            <div class="flex justify-between pb-3 relative">
                <div class="flex flex-col justify-between">
                    <a
                        routerLink="/chinh-sach-thanh-toan"
                        class="uppercase text-black"
                        >chính sách giao hàng và thanh toán</a
                    >
                    <a
                        routerLink="/chinh-sach-bao-mat"
                        class="uppercase text-black"
                        >Chính sách bảo mật</a
                    >
                </div>
                <div class="flex flex-col justify-between">
                    <a
                        routerLink="/chinh-sach-mua-ban"
                        class="uppercase text-black"
                        >Chính sách mua hàng</a
                    >
                    <a
                        routerLink="/chinh-sach-tra-hang"
                        class="uppercase text-black mt-4"
                        >Chính sách trả hàng</a
                    >
                </div>
                <div class="flex flex-col">
                    <a href="" class="uppercase text-black"
                        >THỜI GIAN LÀM VIỆC: 8h-17h00, từ thứ 2 – thứ 7</a
                    >
                    <a href="" class="uppercase text-black my-2"
                        >HOTLINE: 035 5976955
                    </a>
                    <a href="" class="text-black">EMAIL: info@sharynkorea.vn</a>
                </div>
                <div
                    class="absolute w-full bg-black left-0 bottom-0"
                    style="height: 1px"
                ></div>
            </div>

            <div class="flex justify-between pt-3">
                <div class="pt-2 flex flex-col justify-end">
                    <h2 class="uppercase mb-2 uppercase">
                        công ty TNHH SHARYN VIỆT NAM
                    </h2>
                    <ul class="pl-0 mb-0">
                        <li>GIẤY CNĐKDN: 0314985171</li>
                        <li>Ngày Cấp: 12/04/2018</li>
                        <li>
                            Cơ quan cấp: Sở Kế Hoạch & Đầu Tư TP. Hồ Chí Minh
                        </li>
                        <li>Địa chỉ đăng ký kinh doanh:</li>
                    </ul>
                </div>
                <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FSharynSkinTherapy&tabs=timeline&width=350&height=135&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                    width="350"
                    height="135"
                    style="border: none; overflow: hidden"
                    scrolling="no"
                    frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                ></iframe>
            </div>
        </div>
        <div
            class="absolute top-0 left-0 bg-black w-full"
            style="height: 1px"
        ></div>
        <div
            class="absolute bottom-0 left-0 bg-black w-full"
            style="height: 1px"
        ></div>
    </div>
    <div class="pt-5 flex justify-center items-center pb-5">
        <span class="uppercase text-sm italic"
            >* Hiệu quả của sản phẩm sẽ tùy thuộc vào cơ địa của mỗi người</span
        >
    </div>
</div>
<div class="lg:hidden container pb-5 px-3">
    <div class="flex flex-col pt-5">
        <div class="h-16 w-36 mb-3">
            <img
                src="../../../assets/images/homepage/HOME_SHARYN_1908-(1).png"
                class="w-full h-full change-color"
                alt=""
            />
        </div>
        <ul class="flex pl-0 w-36 justify-between">
            <li class="h-7 w-7 text-white mr-3 change-color">
                <a
                    href="https://www.facebook.com/SharynSkinTherapy"
                    target="_blank"
                >
                    <img
                        src="../../../assets/images/homepage/HOME_SHARYN_1908-(21).png"
                        class="w-full h-full"
                        alt=""
                    />
                </a>
            </li>
            <li class="h-7 w-7 text-white mr-3 change-color">
                <img src="../../../assets/images/homepage/35.png" alt="" />
            </li>
            <li class="h-7 w-7 text-white change-color">
                <a
                    href="https://www.youtube.com/channel/UCTozBRCqY1pX7EY2V4RCg3Q"
                    target="_blank"
                >
                    <img src="../../../assets/images/homepage/36.png" alt="" />
                </a>
            </li>
        </ul>
    </div>
    <div class="flex flex-col pt-3">
        <div class="flex flex-col relative">
            <a
                routerLink="/chinh-sach-thanh-toan"
                class="uppercase text-white mb-2"
                >chính sách giao hàng và thanh toán</a
            >
            <a
                routerLink="/chinh-sach-bao-mat"
                class="uppercase text-white mb-2"
                >Chính sách bảo mật</a
            >
            <a
                routerLink="/chinh-sach-mua-ban"
                class="uppercase text-white mb-2"
                >Chính sách mua hàng</a
            >
            <a
                routerLink="/chinh-sach-tra-hang"
                class="uppercase text-white mb-2"
                >Chính sách trả hàng</a
            >
            <div
                class="absolute w-full bg-white left-0 bottom-0"
                style="height: 1px"
            ></div>
        </div>

        <div class="flex flex-col relative pt-3">
            <p class="uppercase mb-2 uppercase text-white">
                công tY TNHH SHARYN VIỆT NAM
            </p>
            <ul class="pl-0 mb-0">
                <li class="mb-2 text-white">GIẤY CNĐKDN: 0314985171</li>
                <li class="mb-2 text-white">Ngày Cấp: 12/04/2018</li>
                <li class="mb-2 text-white">
                    Cơ quan cấp: Sở Kế Hoạch & Đầu Tư TP. Hồ Chí Minh
                </li>
                <li class="mb-2 text-white">Địa chỉ đăng ký kinh doanh:</li>
            </ul>

            <div
                class="absolute w-full bg-white left-0 bottom-0"
                style="height: 1px"
            ></div>
        </div>
        <div class="flex flex-col relative pt-3">
            <a href="" class="uppercase text-white mb-2"
                >HOTLINE: 035 5976955
            </a>
            <a href="" class="uppercase text-white mb-2"
                >THỜI GIAN LÀM VIỆC: 8h-17h00, từ thứ 2 – thứ 7
            </a>
            <a href="" class="uppercase text-white mb-2"
                >EMAIL: info@sharynkorea.vn</a
            >
            <iframe
                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FSharynSkinTherapy&tabs=timeline&width=300&height=125&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                width="300"
                height="125"
                style="border: none; overflow: hidden"
                scrolling="no"
                frameborder="0"
                allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
            ></iframe>
            <div class="h-16 w-72 my-4">
                <img
                    src="../../../assets/images/homepage/bct.png"
                    class="w-full h-full"
                    alt=""
                />
            </div>
            <div
                class="absolute w-full bg-white left-0 bottom-0"
                style="height: 1px"
            ></div>
        </div>
        <div class="pt-3 flex justify-center items-center">
            <span class="uppercase text-white text-center text-sm italic"
                >* Hiệu quả của sản phẩm sẽ tùy thuộc vào cơ địa của mỗi
                người</span
            >
        </div>
    </div>
</div>
