<div class="pt-10 pb-5 border">
    <div class="lg:max-w-6xl lg:mx-auto lg:px-8 mx-3">
        <h2 class="font-medium lg:text-4xl text-2xl uppercase">
            Chính sách bảo mật thông tin khách hàng
        </h2>
    </div>
</div>
<div class="lg:max-w-6xl lg:mx-auto lg:px-8 py-10 mx-3">
    <p>
        Website sharynkorea.com.vn được vận hành và quản lý bởi Công ty TNHH Mỹ
        phẩm Sharyn. Chúng tôi cam kết sẽ bảo mật những thông tin mang tính
        riêng tư của bạn. Quý khách hàng xin vui lòng đọc bản “Chính sách bảo
        mật” dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện nhằm tôn
        trọng và bảo vệ quyền lợi của người truy cập.
    </p>
    <div class="pt-5">
        <span class="text-lg font-medium">1. Thu thập dữ liệu cá nhân</span>
        <p class="mt-3">
            Bằng việc sử dụng Các Dịch Vụ, đăng ký một tài khoản với chúng tôi
            hoặc truy cập Nền tảng website sharynkorea.com.vn, bạn xác nhận và
            đồng ý rằng bạn chấp nhận các phương pháp, yêu cầu, và/hoặc chính
            sách được mô tả trong Chính sách bảo mật này, và theo đây bạn đồng ý
            cho phép Sharyn thu thập, sử dụng, tiết lộ và/hoặc xử lý dữ liệu cá
            nhân của bạn như mô tả trong đây. Nếu bạn KHÔNG ĐỒNG Ý CHO PHÉP XỬ
            LÝ DỮ LIỆU CÁ NH N như mô tả trong chính sách này, VUI LÒNG KHÔNG SỬ
            DỤNG CÁC DỊCH VỤ hay truy cập nền tảng hoặc trang web của Sharyn.
            <br />
            <br />
            "Dữ Liệu Cá Nhân" hay "dữ liệu cá nhân" có nghĩa là dữ liệu, dù đúng
            hay không, về một cá nhân mà thông qua đó có thể được xác định được
            danh tính, hoặc từ dữ liệu đó và thông tin khác mà một tổ chức có
            hoặc có khả năng tiếp cận. Sharyn chỉ thu thập thông tin từ khách
            hàng cung cấp và được sự cho phép của khách hàng, các thông tin bao
            gồm: Họ và tên, số điện thoại, địa chỉ giao hàng, email.
        </p>
    </div>
    <div class="pt-5">
        <span class="text-lg font-medium">2. Mục đích thu thập thông tin</span>
        <p class="mt-3">
            Bằng việc sử dụng Các Dịch Vụ, đăng ký một tài khoản với chúng tôi
            hoặc truy cập Nền tảng website sharynkorea.com.vn, bạn xác nhận và
            đồng ý rằng bạn chấp nhận các phương pháp, yêu cầu, và/hoặc chính
            sách được mô tả trong Chính sách bảo mật này, và theo đây bạn đồng ý
            cho phép Sharyn thu thập, sử dụng, tiết lộ và/hoặc xử lý dữ liệu cá
            nhân của bạn như mô tả trong đây. Nếu bạn KHÔNG ĐỒNG Ý CHO PHÉP XỬ
            LÝ DỮ LIỆU CÁ NH N như mô tả trong chính sách này, VUI LÒNG KHÔNG SỬ
            DỤNG CÁC DỊCH VỤ hay truy cập nền tảng hoặc trang web của Sharyn.
            <br />
            <br />
            "Dữ Liệu Cá Nhân" hay "dữ liệu cá nhân" có nghĩa là dữ liệu, dù đúng
            hay không, về một cá nhân mà thông qua đó có thể được xác định được
            danh tính, hoặc từ dữ liệu đó và thông tin khác mà một tổ chức có
            hoặc có khả năng tiếp cận. Sharyn chỉ thu thập thông tin từ khách
            hàng cung cấp và được sự cho phép của khách hàng, các thông tin bao
            gồm: Họ và tên, số điện thoại, địa chỉ giao hàng, email.
        </p>
    </div>
    <div class="pt-5">
        <span class="text-lg font-medium">3. Cam kết bảo mật thông tin khách hàng</span>
        <p class="mt-3">
            Sharyn đảm bảo an toàn thông tin cho khách hàng khi cung cấp thông tin cá nhân cho công ty – CAM KẾT không trao đổi mua bán thông tin khách hàng vì mục đích thương mại. Trừ khi điều này là cần thiết cho các điều khoản trong chính sách bảo mật hoặc chúng tôi được yêu cầu phải làm như vậy theo quy định của pháp luật.

            <br />
            <br />
            Mọi thông tin giao dịch sẽ được bảo mật nhưng trong trường hợp cơ quan pháp luật yêu cầu, chúng tôi sẽ buộc phải cung cấp những thông tin này cho các cơ quan pháp luật.

        </p>
    </div>
    <div class="pt-5">
        <span class="text-lg font-medium">4. Thay đổi về chính sách</span>
        <p class="mt-3">
            Sharyn hoàn toàn có thể thay đổi nội dung trong trang này mà không cần phải thông báo trước, để phù hợp với các nhu cầu của sharynkorea.com.vn cũng như nhu cầu từ sự phản hồi từ khách hàng (nếu có).
            <br />
            <br />
            Nội dung “Chính sách bảo mật” này chỉ áp dụng tại sharynkorea.com.vn. Do đó, Sharyn đề nghị bạn nên xem trước nội dung trang này trước khi truy cập các nội dung khác trên website cũng như bạn nên đọc và tham khảo kỹ nội dung “Chính sách bảo mật” của từng website mà bạn đang truy cập. Sharyn không chịu trách nhiệm dưới bất kỳ hình thức nào về nội dung và tính pháp lý của trang web khác mà bạn đang truy cập.
            <br/>
            <br/>
            Các điều kiện, điều khoản và nội dung của trang web này được điều chỉnh bởi luật pháp Việt Nam và tòa án Việt Nam có thẩm quyền xem xét.
        </p>
    </div>
    <div class="pt-5">
        <span class="text-lg font-medium">5. Thông tin liên hệ</span>
        <p class="mt-3">
            Sharyn luôn hoan nghênh các ý kiến đóng góp, liên hệ và phản hồi thông tin từ bạn về “Chính sách bảo mật” này. Nếu bạn có những thắc mắc liên quan xin vui lòng liên hệ theo số hotline 0868 399 649.

        </p>
    </div>
</div>
