<div class="flex flex-col lg:max-w-6xl lg:mx-auto lg:px-8">
    <app-carousel></app-carousel>
    <div class="relative mt-5 intro mobile lg:hidden">
        <img
            src="../../../../assets/images/homepage/mobile/banner-giải-pháp.png"
            class="w-full h-full absolute left-0 top-0"
            alt=""
        />
        <div class="left-0 bottom-0 absolute z-10">
            <div class="flex justify-center flex-col">
                <h2 class="text-center text-lg font-bold mb-0 uppercase">
                    SHARYN - Giải pháp hoàn hảo <br />
                    dành cho làn da phụ nữ Việt Nam
                </h2>
                <p class="lg:pt-4 lg:w-3/4 text-center mx-4 lg:mx-0">
                    Lấy cảm hứng từ những bông hồng Sharon - Quốc hoa xứ Kim
                    Chi, sau 5 năm hoạt động, Sharyn nhanh chóng trở thành
                    thương hiệu mỹ phẩm cao cấp tại “thủ đô làm đẹp của Thế
                    giới” và tiếp tục chinh phục thị trường các nước trong khu
                    vực, trong đó có cả Việt Nam.
                </p>
                <a href="#" class="text-black text-center py-2">XEM THÊM</a>
            </div>
        </div>
        <!-- <div
            class="bg-gray-200 absolute left-0 top-0 w-full h-full rectangle"
        ></div> -->
    </div>
    <div class="lg:py-10 px-3 lg:px-0">
        <div class="relative pt-5 intro hidden lg:block box">
            <div
                class="flex lg:flex-row flex-col left-0 top-0 w-full h-full absolute z-10"
            >
                <img
                    class="w-full h-full absolute left-0"
                    src="../../../assets/images/homepage/HOME_SHARYN_1908-(16).png"
                    alt=""
                />

                <!-- <div
          class="absolute top-1/2 left-1/2 bg-red-500 z-10 img-center opacity-70"
        >
          <div class="logo" style="width: 350px; height: 125px">
            <img
              class="w-full h-full"
              src="../../../assets/images/logo-model-dk.png"
              alt=""
            />
          </div>
        </div> -->

                <div
                    class="left-1/2 top-1/2 absolute h-full flex justify-center flex-col"
                    style="transform: translateY(-50%)"
                >
                    <div class="">
                        <h2 class="font-bold text-3xl uppercase title">
                            SHARYN - Giải pháp hoàn hảo <br />
                            dành cho làn da phụ nữ Việt Nam
                        </h2>
                        <div
                            class="lg:pt-4 lg:w-3/4 text-justify"
                            id="split-text"
                        >
                            Lấy cảm hứng từ những bông hồng Sharon - Quốc hoa xứ
                            Kim Chi, sau 5 năm hoạt động, Sharyn nhanh chóng trở
                            thành thương hiệu mỹ phẩm cao cấp tại “thủ đô làm
                            đẹp của Thế giới” và tiếp tục chinh phục thị trường
                            các nước trong khu vực, trong đó có cả Việt Nam.
                        </div>
                        <div class="svg-wrapper more">
                            <svg
                                height="30"
                                width="120"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <rect class="shape" height="30" width="120" />
                            </svg>
                            <div class="text text-lg">Xem thêm &raquo;</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="absolute left-0 top-0 w-full h-full rectangle"></div>
        </div>

        <div class="product pt-5">
            <div class="flex items-center justify-between more-hover">
                <div class="flex w-96 items-center">
                    <i class="lg:mr-5 mr-2 lg:h-10 lg:w-10 h-7 w-7">
                        <img
                            src="../../../assets/images/homepage/HOME_SHARYN_1908-(5).png"
                            class="w-full h-full"
                            alt=""
                        />
                    </i>
                    <div class="flex items-center">
                        <h2
                            class="lg:text-lg text-blue-500 uppercase mb-0 font-bold"
                        >
                            sản phẩm điều trị
                        </h2>
                    </div>
                </div>
                <div class="w-full bg-black" style="height: 1px"></div>
                <a href="#" class="w-32 ml-3 relative hidden lg:flex"
                    >Xem thêm &raquo;</a
                >
            </div>

            <div class="py-3">
                <p class="text-justify">
                    Sharyn luôn nhạy bén trong việc nắm bắt xu hướng làm đẹp
                    hiện đại để cho ra nhiều sản phẩm mới, phù hợp với nhu cầu
                    đang thay đổi từng ngày của ngành công nghiệp làm đẹp. Qua
                    đó giúp chị em xinh đẹp, tự tin hơn với những sản phẩm tiện
                    lợi nhưng không quá tốn kém.
                </p>
            </div>
            <div class="grid lg:grid-cols-3 grid-cols-1 gap-grid">
                <div class="item-product">
                    <a
                        class="flex flex-col items-center justify-center text-black h-full product-item"
                        href="#"
                    >
                        <div class="w-full h-full relative overflow-hidden">
                            <div
                                class="absolute w-full h-full top-0 opacity-70 z-0 img-overlay"
                            ></div>
                            <img
                                src="../../../assets/images/homepage/Điều trị nám.png"
                                class="w-full h-full"
                                alt=""
                            />

                            <div
                                class="product-view absolute top-1/2 left-1/2 img-center z-10 w-full"
                            >
                                <p class="text-center">XEM TẤT CẢ</p>
                            </div>
                        </div>
                        <div class="pt-3">
                            <p class="font-bold lg:text-lg">ĐIỀU TRỊ NÁM</p>
                        </div>
                    </a>
                </div>
                <div class="item-product">
                    <a
                        class="flex flex-col items-center justify-center text-black h-full product-item"
                        href="#"
                    >
                        <div class="w-full h-full relative overflow-hidden">
                            <div
                                class="absolute w-full h-full top-0 opacity-70 z-0 img-overlay"
                            ></div>
                            <img
                                src="../../../assets/images/homepage/Chống lão hoá.png"
                                class="w-full h-full"
                                alt=""
                            />

                            <div
                                class="product-view absolute top-1/2 left-1/2 img-center z-10 w-full"
                            >
                                <p class="text-center">XEM TẤT CẢ</p>
                            </div>
                        </div>
                        <div class="pt-3">
                            <p class="font-bold lg:text-lg">CHỐNG LÃO HÓA</p>
                        </div>
                    </a>
                </div>
                <div class="item-product">
                    <a
                        class="flex flex-col items-center justify-center text-black h-full product-item"
                        href="#"
                        routerLink="san-pham"
                    >
                        <div class="w-full h-full relative overflow-hidden">
                            <img
                                src="../../../assets/images/homepage/Trắng-Da-01.png"
                                class="w-full h-full"
                                alt=""
                            />
                            <!-- <img
                                src="../../../assets/images/dieu-tri.png"
                                class="w-full h-full lg:hidden"
                                alt=""
                                style="height: 100px"
                            /> -->

                            <div
                                class="absolute w-full h-full top-0 opacity-70 z-0 img-overlay"
                            ></div>
                            <div
                                class="product-view absolute top-1/2 left-1/2 img-center z-10 w-full"
                            >
                                <p class="text-center">XEM TẤT CẢ</p>
                            </div>
                        </div>
                        <div class="pt-3">
                            <p class="font-bold lg:text-lg">
                                CHỐNG NẮNG - LÀM TRẮNG DA
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div
                class="flex justify-center items-center pt-3 button-hover cursor-pointer"
            >
                <a href="#" class="lg:hidden px-4 py-2 uppercase rounded-lg"
                    >xem thêm sản phẩm điều trị</a
                >
            </div>
        </div>
        <div class="product pt-5">
            <div class="flex items-center more-hover">
                <div class="flex w-96 items-center">
                    <i class="lg:mr-5 mr-2 lg:h-10 lg:w-10 h-7 w-7">
                        <img
                            src="../../../assets/images/homepage/HOME_SHARYN_1908-(6).png"
                            class="w-full h-full"
                            alt=""
                        />
                    </i>
                    <div class="flex items-center">
                        <h2
                            class="lg:text-lg text-blue-500 uppercase mb-0 font-bold"
                        >
                            sản phẩm nổi bật
                        </h2>
                    </div>
                </div>
                <div class="w-full bg-black" style="height: 1px"></div>
                <a href="#" class="w-32 ml-3 relative hidden lg:flex"
                    >Xem thêm &raquo;</a
                >
            </div>

            <div class="grid lg:grid-cols-4 grid-cols-2 gap-4 pt-3">
                <div class="lg:h-80 h-64" *ngFor="let item of products">
                    <a
                        class="flex flex-col text-black h-full product-item"
                        routerLink="san-pham/{{ item.slug }}"
                    >
                        <div class="w-full h-full relative overflow-hidden">
                            <div
                                class="absolute w-full h-full top-0 opacity-70 z-0 img-overlay"
                            ></div>
                            <img
                                src="../../../../assets/images/SẢN PHẨM/Miracle---01.jpg"
                                src="{{ item.image }}"
                                class="w-full h-full cover-img"
                                alt=""
                            />

                            <div
                                class="product-hot absolute top-1/2 left-1/2 img-center z-10 text-jutify"
                            >
                                <div
                                    [innerHTML]="item.des"
                                    class="text-justify text-lg text-xs lg:px-9"
                                ></div>
                            </div>
                            <div
                                class="product-hot absolute bottom-0 lg:pb-1 pb-0 left-1/2 img-center"
                            >
                                <p class="text-center text-lg font-bold">
                                    MUA NGAY
                                </p>
                            </div>
                            <div
                                class="absolute top-2 right-2 rounded-2xl bg-blue-500 flex items-center justify-center"
                                *ngIf="item.status == 'Promo'; else bseller"
                            >
                                <p class="text-white px-3 mb-0">
                                    {{ item.status }}
                                </p>
                            </div>
                            <ng-template #bseller>
                                <div
                                    class="absolute top-2 right-2 rounded-2xl bg-red-500 flex items-center justify-center"
                                >
                                    <p class="text-white px-3 mb-0">
                                        {{ item.status }}
                                    </p>
                                </div>
                            </ng-template>
                        </div>
                        <div class="pt-3">
                            <p class="font-bold">{{ item.name }}</p>
                            <div class="flex items-center">
                                <p class="pr-2 mb-0">{{ item.price }}</p>
                                <!-- <div class="relative flex">
                                    <p class="text-xs mb-0">1.780.000đ</p>
                                    <div
                                        class="absolute top-1/2 left-0 w-full rotate-line"
                                    ></div>
                                </div> -->
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div
                class="flex justify-center items-center pt-3 button-hover cursor-pointer"
            >
                <a href="'#" class="lg:hidden px-4 py-2 uppercase rounded-lg"
                    >xem thêm sản phẩm nổi bật</a
                >
            </div>
        </div>

        <div class="pt-5">
            <div class="flex">
                <div class="flex items-center">
                    <i class="lg:mr-5 mr-2 lg:h-10 lg:w-10 h-7 w-7">
                        <img
                            src="../../../assets/images/homepage/HOME_SHARYN_1908-(6).png"
                            class="w-full h-full"
                            alt=""
                        />
                    </i>
                    <div class="flex items-center lg:w-96 w-60">
                        <h2
                            class="lg:text-lg text-blue-500 uppercase mb-0 font-bold"
                        >
                            Ý kiến chuyên gia/khách hàng
                        </h2>
                    </div>
                </div>
            </div>
            <div class="hidden lg:block">
                <div class="grid grid-cols-3 gap-8 pt-3">
                    <div
                        class="flex flex-col items-center"
                        style="height: 400px"
                    >
                        <div
                            class="relative"
                            style="width: 150px; height: 150px"
                        >
                            <img
                                src="../../../assets/images/homepage/HOME_SHARYN_1908-(31).png"
                                class="absolute top-1/2 left-1/2 img-center w-full h-full rounded-full object-contains"
                                alt=""
                            />
                        </div>
                        <div class="mx-5 my-2">
                            <p class="text-center">
                                “Là thương hiệu mỹ lớn đến từ Hàn Quốc nên mình
                                rất yên tâm và tin tưởng lựa chọn Sharyn. Hầu
                                hết khi sử dụng đều không gặp bất cứ ảnh hưởng
                                tiêu cực gì đến làn da. Nếu có ý định “kết thân”
                                với sản phẩm của thương hiệu này thì bạn không
                                cần lo lắng về vấn đề an toàn.”
                            </p>
                        </div>
                        <div class="">
                            <p>
                                Khách hàng
                                <strong class="font-bold">THẢO TIÊN</strong>
                            </p>
                        </div>
                    </div>

                    <div
                        class="flex flex-col items-center"
                        style="height: 400px"
                    >
                        <div
                            class="relative"
                            style="width: 150px; height: 150px"
                        >
                            <img
                                src="../../../assets/images/homepage/HOME_SHARYN_1908-(30).png"
                                class="absolute top-1/2 left-1/2 img-center w-full h-full rounded-full object-contains"
                                alt=""
                            />
                        </div>
                        <div class="mx-5 my-2">
                            <p class="text-center">
                                “Bạn vẫn có làn da đẹp mà không cần phải đến spa
                                để chăm sóc mỗi tuần với các dòng sản phẩm của
                                Sharyn. Nó không chỉ làm mờ nếp nhăn, vết chân
                                chim ở khóe mắt, khóe miệng – nỗi lo lắng bấy
                                lâu của mình, mà ngay cả lỗ chân lông cũng được
                                se khít, vết thâm sạm nám cũng mờ và giảm hẳn.
                                “Xuất sắc” nhất của sản phẩm nhà Sharyn còn nằm
                                ở chỗ KHÔNG gây kích ứng da như các sản phẩm
                                chứa của thương hiệu khác.”
                            </p>
                        </div>
                        <div class="">
                            <p>
                                Diễn viên
                                <strong class="font-bold">Quỳnh Nga</strong>
                            </p>
                        </div>
                    </div>

                    <div
                        class="flex flex-col items-center"
                        style="height: 400px"
                    >
                        <div
                            class="relative"
                            style="width: 150px; height: 150px"
                        >
                            <img
                                src="../../../assets/images/homepage/HOME_SHARYN_1908-(25).png"
                                class="absolute top-1/2 left-1/2 img-center w-full h-full rounded-full object-contains"
                                alt=""
                            />
                        </div>
                        <div class="mx-5 my-2">
                            <p class="text-center">
                                “Mỹ phẩm Sharyn đảm bảo chất lượng cao, có nhãn
                                mác đầy đủ bao gồm thành phần, công dụng, hạn sử
                                dụng và mã sản phẩm. Mỹ phẩm Sharyn là sự lựa
                                chọn tốt nhất cho các vấn đề về làn da của bạn.”
                            </p>
                        </div>
                        <div class="">
                            <p>
                                Bác sĩ da liễu
                                <strong class="font-bold"
                                    >Nguyễn Thị Ngọc Mai</strong
                                >
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lg:hidden">
                <swiper [pagination]="true" [config]="config1" class="mySwiper">
                    <ng-template swiperSlide>
                        <div
                            class="flex flex-col items-center"
                            style="height: 450px"
                        >
                            <div
                                class="relative"
                                style="width: 150px; height: 150px"
                            >
                                <img
                                    src="../../../assets/images/homepage/HOME_SHARYN_1908-(31).png"
                                    class="absolute top-1/2 left-1/2 img-center w-full h-full rounded-full object-contains"
                                    alt=""
                                />
                            </div>
                            <div class="mx-5 my-2">
                                <p class="text-center">
                                    “Là thương hiệu mỹ lớn đến từ Hàn Quốc nên
                                    mình rất yên tâm và tin tưởng lựa chọn
                                    Sharyn. Hầu hết khi sử dụng đều không gặp
                                    bất cứ ảnh hưởng tiêu cực gì đến làn da. Nếu
                                    có ý định “kết thân” với sản phẩm của thương
                                    hiệu này thì bạn không cần lo lắng về vấn đề
                                    an toàn.”
                                </p>
                            </div>
                            <div class="">
                                <p>
                                    Khách hàng
                                    <strong class="font-bold">THẢO TIÊN</strong>
                                </p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div
                            class="flex flex-col items-center"
                            style="height: 450px"
                        >
                            <div
                                class="relative"
                                style="width: 150px; height: 150px"
                            >
                                <img
                                    src="../../../assets/images/homepage/HOME_SHARYN_1908-(30).png"
                                    class="absolute top-1/2 left-1/2 img-center w-full h-full rounded-full object-contains"
                                    alt=""
                                />
                            </div>
                            <div class="mx-5 my-2">
                                <p class="text-center">
                                    “Bạn vẫn có làn da đẹp mà không cần phải đến
                                    spa để chăm sóc mỗi tuần với các dòng sản
                                    phẩm của Sharyn. Nó không chỉ làm mờ nếp
                                    nhăn, vết chân chim ở khóe mắt, khóe miệng –
                                    nỗi lo lắng bấy lâu của mình, mà ngay cả lỗ
                                    chân lông cũng được se khít, vết thâm sạm
                                    nám cũng mờ và giảm hẳn. “Xuất sắc” nhất của
                                    sản phẩm nhà Sharyn còn nằm ở chỗ KHÔNG gây
                                    kích ứng da như các sản phẩm chứa của thương
                                    hiệu khác.”
                                </p>
                            </div>
                            <div class="">
                                <p>
                                    Diễn viên
                                    <strong class="font-bold">Quỳnh Nga</strong>
                                </p>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template swiperSlide>
                        <div
                            class="flex flex-col items-center"
                            style="height: 450px"
                        >
                            <div
                                class="relative"
                                style="width: 150px; height: 150px"
                            >
                                <img
                                    src="../../../assets/images/homepage/HOME_SHARYN_1908-(25).png"
                                    class="absolute top-1/2 left-1/2 img-center w-full h-full rounded-full object-contains"
                                    alt=""
                                />
                            </div>
                            <div class="mx-5 my-2">
                                <p class="text-center">
                                    “Mỹ phẩm Sharyn đảm bảo chất lượng cao, có
                                    nhãn mác đầy đủ bao gồm thành phần, công
                                    dụng, hạn sử dụng và mã sản phẩm. Mỹ phẩm
                                    Sharyn là sự lựa chọn tốt nhất cho các vấn
                                    đề về làn da của bạn.”
                                </p>
                            </div>
                            <div class="">
                                <p>
                                    Bác sĩ da liễu
                                    <strong class="font-bold"
                                        >Nguyễn Thị Ngọc Mai</strong
                                    >
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </div>

        <div class="lg:pt-5">
            <div class="flex items-center more-hover">
                <div class="flex lg:w-80 w-56 items-center">
                    <i class="lg:mr-5 mr-2 lg:h-10 lg:w-10 h-7 w-7">
                        <img
                            src="../../../assets/images/homepage/HOME_SHARYN_1908-(6).png"
                            class="w-full h-full"
                            alt=""
                        />
                    </i>
                    <div class="flex items-center">
                        <h2
                            class="lg:text-lg text-blue-500 uppercase mb-0 font-bold"
                        >
                            bài viết mới
                        </h2>
                    </div>
                </div>

                <div class="w-full bg-black" style="height: 1px"></div>
                <a href="#" class="w-32 ml-3 relative hidden lg:flex"
                    >Xem thêm &raquo;</a
                >
            </div>
            <div class="grid lg:grid-cols-2 grid-cols-1 gap-4 pt-4">
                <a href="#" class="lg:h-40 h-auto flex post-item">
                    <div class="lg:w-1/4 w-2/5 h-full">
                        <img
                            src="../../../assets/images/homepage/HOME_SHARYN_1908-(18).png"
                            class="w-full h-full"
                            alt=""
                        />
                    </div>
                    <div
                        class="lg:w-3/4 w-3/5 px-3 flex-col lg:justify-start justify-between flex"
                    >
                        <h2
                            class="text-jutify uppercase mb-0 font-bold text-lg"
                        >
                            Sharyn - “Ngôi sao mới” trong làng mỹ phẩm chăm sóc
                            da Hàn Quốc
                        </h2>
                        <p class="des">
                            Lấy cảm hứng từ ý nghĩa những bông hồng Sharon -
                            Quốc hoa xứ kim chi, thương hiệu mỹ phẩm chăm sóc da
                            cao cấp Sharyn nhanh chóng trở thành lựa chọn hàng
                            đầu của những quý cô yêu thích làn da chuẩn mướt tự
                            nhiên.
                        </p>
                        <a class="lg:hidden text-black" href="#">Xem thêm </a>
                    </div>
                </a>

                <a class="lg:h-40 h-auto flex post-item" href="#">
                    <div class="lg:w-1/4 w-2/5 h-full">
                        <img
                            src="../../../assets/images/homepage/HOME_SHARYN_1908-(20).png"
                            class="w-full h-full"
                            alt=""
                        />
                    </div>
                    <div
                        class="lg:w-3/4 w-3/5 px-3 flex-col lg:justify-start justify-between flex"
                    >
                        <h2 class="text-jutify uppercase mb-0 font-bold">
                            Mỹ phẩm chăm sóc da Sharyn của Hàn Quốc
                        </h2>
                        <p class="des">
                            Hai dòng sản phẩm nổi bật của Sharyn là Miracle EX
                            Spicule và Cream 4 in 1 đều có thành phần thiên
                            nhiên, tác dụng dưỡng ẩm, chống nắng.
                        </p>
                        <a class="lg:hidden text-black" href="#">Xem thêm</a>
                    </div>
                </a>

                <a class="lg:h-40 h-auto flex post-item" href="#">
                    <div class="lg:w-1/4 w-2/5 h-full">
                        <img
                            src="../../../assets/images/homepage/4.png"
                            class="w-full h-full"
                            alt=""
                        />
                    </div>
                    <div
                        class="lg:w-3/4 w-3/5 px-3 flex-col lg:justify-start justify-between flex"
                    >
                        <h2 class="text-jutify uppercase mb-0 font-bold">
                            Review Sharyn Miracle Ex Spicule: làn da tươi trẻ
                            không cần đến spa
                        </h2>
                        <p class="des">
                            Bạn đang quan tâm tới mỹ phẩm có tên gọi khá dài.
                            Sharyn Miracle Ex Spicule. Không biết review em nó
                            có tốt không? Giá bao nhiêu? Mua hàng chính hãng ở
                            đâu? Trong bài viết này, mình sẽ giúp bạn hiểu rõ
                            hơn về sản phẩm này. Nào chúng ta cùng bắt đầu nhé.
                        </p>
                        <a class="lg:hidden text-black" href="#">Xem thêm</a>
                    </div>
                </a>

                <a class="lg:h-40 h-auto flex post-item" href="#">
                    <div class="lg:w-1/4 w-2/5 h-full">
                        <img
                            src="../../../assets/images/homepage/HOME_SHARYN_1908-(17).png"
                            class="w-full h-full"
                            alt=""
                        />
                    </div>
                    <div
                        class="lg:w-3/4 w-3/5 px-3 flex-col lg:justify-start justify-between flex"
                    >
                        <h2 class="text-jutify uppercase mb-0 font-bold">
                            Tinh chất Miracle Ex Spicule: Chống lão hóa, mờ sẹo
                            thâm mụn
                        </h2>
                        <p class="des">
                            Có thể nói chủ đề làm đẹp chưa bao giờ hết hot đối
                            với chị em phụ nữ. Khi đời sống càng cao thì nhu cầu
                            làm đẹp cũng tăng lên.Trong số các sản phẩm chăm sóc
                            da hiện nay, Miracle Ex Spicule được đánh giá cao về
                            chất lượng.
                        </p>
                        <a class="lg:hidden text-black" href="#">Xem thêm</a>
                    </div>
                </a>
            </div>
            <div
                class="flex justify-center items-center pt-3 button-hover cursor-pointer"
            >
                <a class="lg:hidden px-4 py-2 uppercase rounded-lg"
                    >xem thêm bài viết</a
                >
            </div>
        </div>

        <div class="pt-5">
            <div class="flex lg:hidden">
                <div class="flex items-center">
                    <i class="lg:mr-5 mr-2 lg:h-10 lg:w-10 h-7 w-7">
                        <img
                            src="../../../assets/images/homepage/HOME_SHARYN_1908-(6).png"
                            class="w-full h-full"
                            alt=""
                        />
                    </i>
                    <div class="flex items-center w-48">
                        <h2
                            class="lg:text-lg text-blue-500 uppercase mb-0 font-bold"
                        >
                            báo chí nói gì về sharyn
                        </h2>
                    </div>
                </div>
                <div class="w-full relative">
                    <div
                        class="absolute w-full z-0 right-0 top-1/2 bg-black"
                        style="height: 1px"
                    ></div>
                </div>
            </div>
            <div class="hidden lg:block">
                <div class="relative flex justify-center items-center">
                    <div
                        class="absolute w-4/12 left-0 top-1/2 bg-black"
                        style="height: 1px"
                    ></div>
                    <div class="text-center w-4/12">
                        <span class="text-3xl uppercase font-bold text-blue-500"
                            >Báo chí nói gì về sharyn</span
                        >
                    </div>
                    <div
                        class="absolute w-4/12 right-0 top-1/2 bg-black"
                        style="height: 1px"
                    ></div>
                </div>
            </div>

            <div class="pt-5">
                <swiper [config]="config" [navigation]="true" class="mySwiper">
                    <ng-template swiperSlide>
                        <div class="flex justify-center items-center">
                            <a
                                href="https://vnexpress.net/my-pham-cham-soc-da-sharyn-cua-han-quoc-4263956.html"
                                target="_blank"
                            >
                                <img
                                    src="../../../assets/images/homepage/HOME_SHARYN_1908-(10).png"
                                    class="h-24 lg:w-28 object-contain"
                                    alt=""
                                />
                            </a>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="flex justify-center items-center">
                            <a
                                href="https://dantri.com.vn/suc-khoe/sharyn-ngoi-sao-moi-trong-lang-my-pham-cham-soc-da-han-quoc-20210602175704859.htm"
                                target="_blank"
                            >
                                <img
                                    src="../../../assets/images/homepage/dantri-logo.svg"
                                    class="h-24 lg:w-28 object-contain"
                                    alt=""
                                />
                            </a>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="flex justify-center items-center">
                            <a
                                href="https://thanhnien.vn/sharyn-ngoi-sao-moi-trong-lang-my-pham-cham-soc-da-han-quoc-post1071176.html"
                                target="_blank"
                            >
                                <img
                                    src="../../../assets/images/homepage/thanhnien.png"
                                    class="h-24 lg:w-28 object-contain"
                                    alt=""
                                />
                            </a>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="flex justify-center items-center">
                            <a
                                href="https://yeah1.com/lam-dep/sharyn-ngoi-sao-moi-trong-lang-my-pham-cham-soc-da-han-quoc-b3axw7D1gP.html"
                                target="_blank"
                            >
                                <img
                                    src="../../../assets/images/homepage/HOME_SHARYN_1908-(12).png"
                                    class="h-24 lg:w-28 object-contain"
                                    alt=""
                                />
                            </a>
                        </div>
                    </ng-template>

                    <ng-template swiperSlide>
                        <div class="flex justify-center items-center">
                            <a
                                href="https://thanhnien.vn/sharyn-ngoi-sao-moi-trong-lang-my-pham-cham-soc-da-han-quoc-post1071176.html"
                                target="_blank"
                            >
                                <img
                                    src="../../../assets/images/homepage/thanhnien.png"
                                    class="h-24 lg:w-28 object-contain"
                                    alt=""
                                />
                            </a>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </div>
    </div>
    <div class="pt-5 pb-10">
        <app-banner-form></app-banner-form>
    </div>
</div>
