<div class="flex flex-col lg:max-w-6xl lg:mx-auto lg:px-8">
    <nav class="md:flex pt-5 hidden" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a
                    href="#"
                    class="uppercase inline-flex items-center font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
                >
                    <svg
                        class="mr-2 w-4 h-4"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
                        ></path>
                    </svg>
                    Home
                </a>
            </li>
            <!-- <li>
            <div class="flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a href="#" class="ml-1  font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Projects</a>
            </div>
          </li> -->
            <li aria-current="page">
                <div class="flex items-center">
                    <svg
                        class="w-6 h-6 text-gray-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"
                        ></path>
                    </svg>
                    <span
                        class="ml-1 font-medium text-gray-400 md:ml-2 dark:text-gray-500 uppercase"
                        >liên hệ</span
                    >
                </div>
            </li>
        </ol>
    </nav>

    <div class="md:py-5 mx-3 md:mx-0">
        <div class="flex flex-col">
            <div class="mb-3">
                <h3
                    class="text-2xl md:text-left text-center text-blue-500 uppercase mb-0 font-bold"
                >
                    đối tác online của sharyn
                </h3>
            </div>
        </div>
        <div class="flex items-center justify-center">
            <div class="w-36 h-24 bg-red-100 mr-4"></div>
            <div class="w-36 h-24 bg-red-100 ml-4"></div>
        </div>

        <div class="pt-10">
            <h3
                class="text-2xl md:text-left text-center text-blue-500 uppercase mb-0 font-bold"
            >
                đối tác online của sharyn
            </h3>
            <div class="px-5">
                <div class="py-5 relative">
                    <p class="text-lg uppercase pb-3 font-bold">
                        địa chỉ tại tp hcm
                    </p>
                    <ul class="grid grid-cols-2 gap-3 ml-5">
                        <li class="flex items-center">
                            <span
                                class="material-icons text-blue-500 mr-3 text-lg"
                            >
                                location_on
                            </span>
                            <span
                                >14-16 Bình Lợi, P.13, Q.Bình Thạnh, TP.
                                HCM</span
                            >
                        </li>
                        <li class="flex items-center">
                            <span
                                class="material-icons text-blue-500 mr-3 text-lg"
                            >
                                location_on
                            </span>
                            <span
                                >1012-1014 Quang Trung, P.8, Q.Gò Vấp, TP.
                                HCM</span
                            >
                        </li>
                        <li class="flex items-center">
                            <span
                                class="material-icons text-blue-500 mr-3 text-lg"
                            >
                                location_on
                            </span>
                            <span>408 Cao Thắng, P.12, Q.10, TP. HCM</span>
                        </li>
                        <li class="flex items-center">
                            <span
                                class="material-icons text-blue-500 mr-3 text-lg"
                            >
                                location_on
                            </span>
                            <span>334 Cao Thắng, P.12, Q.10, TP. HCM</span>
                        </li>
                        <li class="flex items-center">
                            <span
                                class="material-icons text-blue-500 mr-3 text-lg"
                            >
                                location_on
                            </span>
                            <span
                                >800 Phạm Văn Đồng, P.Hiệp Bình Chánh, TP. Thủ
                                Đức</span
                            >
                        </li>

                        <li class="flex items-center">
                            <span
                                class="material-icons text-blue-500 mr-3 text-lg"
                            >
                                location_on
                            </span>
                            <span
                                >804 Phạm Văn Đồng, P.Hiệp Bình Chánh, TP. Thủ
                                Đức</span
                            >
                        </li>
                    </ul>
                    <div class="absolute bottom-0 h-px w-full bg-black"></div>
                </div>
                <div class="py-5 relative">
                    <p class="text-lg uppercase pb-3 font-bold">
                        địa chỉ tại tp Đà nẵng
                    </p>
                    <ul class="grid grid-cols-2 gap-3 ml-5">
                        <li class="flex items-center">
                            <span
                                class="material-icons text-blue-500 mr-3 text-lg"
                            >
                                location_on
                            </span>
                            <span
                                >69 Hàm Nghi, P.Thạc Gián, Q.Thanh Khê, TP. Đà
                                Nẵng</span
                            >
                        </li>
                        <li class="flex items-center">
                            <span
                                class="material-icons text-blue-500 mr-3 text-lg"
                            >
                                location_on
                            </span>
                            <span
                                >77 Hàm Nghi, P.Thạc Gián, Q.Thanh Khê, TP. Đà
                                Nẵng</span
                            >
                        </li>
                    </ul>
                    <div class="absolute bottom-0 h-px w-full bg-black"></div>
                </div>
                <div class="py-5 relative">
                    <p class="text-lg uppercase pb-3 font-bold">
                        địa chỉ tại tp Nha trang
                    </p>
                    <ul class="grid grid-cols-2 gap-3 ml-5">
                        <li class="flex items-center">
                            <span
                                class="material-icons text-blue-500 mr-3 text-lg"
                            >
                                location_on
                            </span>
                            <span
                                >STH41.47 đường số 4 P. Phước Hải - KĐT Lê Hồng
                                Phong 2, TP. Nha Trang</span
                            >
                        </li>
                        <li class="flex items-center">
                            <span
                                class="material-icons text-blue-500 mr-3 text-lg"
                            >
                                location_on
                            </span>
                            <span
                                >S45/26, đường Thích Quảng Đức, P. Phước Hải,
                                Tp. Nha Trang</span
                            >
                        </li>
                    </ul>
                    <div class="absolute bottom-0 h-px w-full bg-black"></div>
                </div>
            </div>
        </div>
        <div class="pt-10">
            <div class="p-10 flex rounded-xl bg-gray-200">
                <div class="md:w-1/2 w-full mr-3">
                    <p class="text-lg uppercase font-bold pb-3">
                        tư vấn miễn phí
                    </p>
                    <form class="">
                        <div
                            class="relative mb-3 shadow-xl shadow-black rounded-2xl"
                        >
                            <input
                                class="w-full bg-white text-2xl rounded-2xl py-1 px-5"
                                placeholder="Họ & tên ..."
                            />
                            <div
                                class="absolute w-5/6 h-px centerX bg-black bottom-0"
                            ></div>
                        </div>
                        <div
                            class="relative mb-3 shadow-xl shadow-black rounded-2xl"
                        >
                            <input
                                class="w-full bg-white text-2xl rounded-2xl py-1 px-5"
                                placeholder="Số điện thoại ..."
                                type="number"
                            />
                            <div
                                class="absolute w-5/6 h-px centerX bg-black bottom-0"
                            ></div>
                        </div>
                        <div
                            class="relative mb-3 shadow-xl shadow-black rounded-2xl"
                        >
                            <input
                                class="w-full bg-white text-2xl rounded-2xl py-1 px-5"
                                placeholder="Địa chỉ"
                            />
                            <div
                                class="absolute w-5/6 h-px centerX bg-black bottom-0"
                            ></div>
                        </div>
                        <div
                            class="relative mb-3 shadow-xl shadow-black rounded-2xl"
                        >
                            <input
                                class="w-full bg-white text-2xl rounded-2xl py-1 px-5"
                                placeholder="Email ..."
                                type="email"
                            />
                            <div
                                class="absolute w-5/6 h-px centerX bg-black bottom-0"
                            ></div>
                        </div>
                        <div
                            class="relative mb-3 shadow-xl shadow-black rounded-2xl"
                        >
                            <textarea
                                class="w-full h-full block py-5 bg-white text-2xl rounded-2xl px-5"
                                placeholder="Tin nhắn ..."
                            ></textarea>
                            <div
                                class="absolute w-5/6 h-px centerX bg-black bottom-0"
                            ></div>
                        </div>
                        <div class="flex justify-center">
                            <button
                                class="text-white text-2xl bg-blue-500 text-center w-64 rounded-2xl px-5 py-1 mx-auto uppercase"
                            >
                                tư vấn miễn phí
                            </button>
                        </div>
                    </form>
                </div>
                <div class="md:w-1/2 w-full ml-3">
                    <p class="text-lg uppercase font-bold pb-3">
                        Cửa Hàng Gần Bạn
                    </p>
                    <div class="w-full h-full rounded-2xl">
                        <div class="video-container">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62700.894439126285!2d106.67162558746979!3d10.826160925599549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175288eba928859%3A0xb8bea85a53a6d33c!2zMTQsIDE2IELDrG5oIEzhu6NpLCBQaMaw4budbmcgMTMsIELDrG5oIFRo4bqhbmgsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1655436442468!5m2!1sen!2s"
                                width="600"
                                height="450"
                                style="border: 0"
                                allowfullscreen=""
                                loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"
                                class="rounded-2xl"
                            ></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
