<div class="lg:px-10 px-3">
    <form class="w-full pt-10" [formGroup]="productList">
        <div>
            <mat-form-field
                class="fuse-mat-emphasized-affix lg:w-1/2 w-full"
                appearance="fill"
            >
                <span matPrefix>Cập nhật hoặc xóa sản phẩm </span>
                <mat-select (selectionChange)="selectProductID($event.value)">
                    <mat-option
                        [value]="item.id"
                        *ngFor="let item of products"
                        >{{ item.name ? item.name : "" }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex mb-3 lg:flex-row flex-col">
            <div class="lg:w-1/2 w-full mb-3 lg:mr-2 md:mb-0">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name"
                >
                    tên sản phẩm
                </label>
                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="grid-first-name"
                    type="text"
                    placeholder="DNA Sharyn"
                    [formControlName]="'name'"
                    name="title"
                />
                <p class="text-red-500 text-xs italic">
                    Please fill out this field.
                </p>
            </div>
            <div class="lg:w-1/2 w-full mb-3 lg:ml-2 md:mb-0">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name"
                >
                    Giá Mới
                </label>
                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="grid-first-name"
                    type="number"
                    placeholder="2000000"
                    [formControlName]="'price'"
                    name="number"
                />
                <p class="text-red-500 text-xs italic">
                    Please fill out this field.
                </p>
            </div>
            <div class="lg:w-1/2 w-full mb-3 lg:ml-2 md:mb-0">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name"
                >
                    Giá cũ
                </label>
                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="grid-first-name"
                    type="number"
                    placeholder="2000000"
                    [formControlName]="'price'"
                    name="number"
                />
                <p class="text-red-500 text-xs italic">
                    Please fill out this field.
                </p>
            </div>
        </div>

        <div class="flex">
            <div class="w-full">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-password"
                >
                    Giới thiệu
                </label>
                <ckeditor
                    [editor]="Editor"
                    #editer
                    [config]="config"
                    [formControlName]="'des'"
                ></ckeditor>
            </div>
        </div>

        <div class="flex lg:flex-row flex-col pt-5">
            <div class="lg:w-1/2 w-full lg:pr-3 mb-3 md:mb-0">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name"
                >
                    Slug
                </label>
                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="grid-first-name"
                    type="text"
                    placeholder="dna-sharyn"
                    [formControlName]="'slug'"
                    name="slug"
                />
            </div>
            <div class="lg:w-1/2 w-full lg:pl-3 mb-3 md:mb-0">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name"
                >
                    Khối lượng
                </label>
                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="grid-first-name"
                    type="text"
                    placeholder="dna-sharyn"
                    [formControlName]="'slug'"
                    name="slug"
                />
            </div>
        </div>
        <div class="flex  ">
            <div class="w-full  mb-3 md:mb-0 flex">
                <label>
                    <input
                        type="file"
                        class="text-nowrap text-truncate"
                        (change)="selectFile($event)"
                    />
                </label>
                <button
                    class="btn btn-success btn-sm p-2 bg-green-500 rounded-xl text-white font-bold"
                    [disabled]="!selectedFiles"
                    (click)="upload()"
                >
                    Upload
                </button>
                <div *ngIf="currentFileUpload" class="progress mt-2">
                    <div
                        class="progress-bar progress-bar-info"
                        role="progressbar"
                        attr.aria-valuenow="{{ percentage }}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        [ngStyle]="{ width: percentage + '%' }"
                    >
                        {{ percentage }}%
                    </div>
                </div>
            </div>

            <!-- <div class="card w-full mt-5">
                    <div class="card-header">Image Upload</div>
                    <ul class="list-group list-group-flush" *ngIf="thumb">
                        <li class="list-group-item" *ngFor="let file of fileUploads">
                            <img src="{{ thumb }}" class="w-20 h-20" alt="" />
                            
                        </li>
                    </ul>
                </div> -->
        </div>
        <div class="flex lg:flex-row flex-col lg:pt-5 " >
            <mat-form-field
                class="fuse-mat-emphasized-affix  w-full lg:w-1/2 lg:pr-3 h-12 mb-5 lg:mb-0"
                appearance="fill"
            >
                <span matPrefix>Chọn trạng thái</span>
                <mat-select (selectionChange)="($event.value)">
                    <mat-option value="Promo"> Promo </mat-option>
                    <mat-option value="Best Seller"> Best Seller </mat-option>
                    <mat-option value="Out of Stock"> Out of stock </mat-option>
                    <!-- <mat-option
                        [value]="item.id"
                        *ngFor="let item of themes"
                        (click)="onSelect(item)"
                        >{{ item.title ? item.title : "" }}</mat-option
                    > -->
                </mat-select>
            </mat-form-field>

            <mat-form-field
                class="fuse-mat-emphasized-affix w-full lg:w-1/2 lg:pl-3 h-12"
                appearance="fill"
            >
                <span matPrefix>Chọn nơi hiển thị</span>
                <mat-select [formControlName]="'type'">
                    <mat-option value="1">Sản phẩm nổi bật</mat-option>
                    <mat-option value="2">Sản phẩm điều trị</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group mr-3 mb-3 pt-5">
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="!productList.valid"
                class="px-3 py-1 bg-green-600 rounded-lg text-white"
            >
                Submit
            </button>
            <button
                type="update"
                class="px-3 py-1 bg-indigo-600 rounded-lg mx-10 text-white"
                (click)="onUpdate()"

            >
                Update
            </button>
            <button
                type="update"
                class="px-3 py-1 bg-red-600 rounded-lg text-white"
                (click)="onDelete()"

            >
                Delete
            </button>
        </div>
    </form>
</div>
