<div class="pt-10 pb-5 border">
    <div class="lg:max-w-6xl lg:mx-auto lg:px-8 mx-3">
        <h2 class="font-medium lg:text-4xl text-2xl uppercase">
            Chính sách trả hàng
        </h2>
    </div>
</div>
<div class="lg:max-w-6xl lg:mx-auto lg:px-8 py-10 mx-3">
    <p>
        Sharyn cam kết các sản phẩm được giao đến khách hàng là hàng mới, đảm bảo chất lượng và 100% chính hãng được nhập khẩu từ Sharyn Hàn Quốc. Đồng thời, sản phẩm sẽ được đóng gói và đảm bảo nguyên vẹn khi được giao tới khách hàng.

        <br/>
        <br/>
        Các đơn hàng được chấp nhận trả hoàn với các điều kiện cụ thể:
    </p>
    <div class="pt-5">
        <span class="text-lg font-medium">1. Điều kiện và cách thức trả hàng
        </span>
        <p class="mt-3">
            Hoàn trả ngay khi nhận hàng: Nếu quý khách phát hiện kiện hàng có dấu hiệu ướt, rách, móp méo, không còn nguyên vẹn hoặc sai thông tin người nhận, quý khách vui lòng từ chối nhận hàng ngay tại thời điểm nhận hàng.

            <br />
            <br />
            Trong các trường hợp còn lại, innisfree rất tiếc vì không thể hỗ trợ chính sách đổi trả hàng.
        </p>
    </div>
    <div class="pt-5">
        <span class="text-lg font-medium">2. Phương thức hoàn tiền</span>
        <p class="mt-3">
            Đối với đơn hàng hoàn trả, Sharyn hỗ trợ chính sách trả hàng và hoàn tiền qua tài khoản ngân hàng.
            <br />
            <br />
            Khi nhận được đơn hàng hoàn trả, Sharyn sẽ tiến hàng kiểm tra để đảm bảo đơn hàng được trả về thỏa mãn các điều kiện tại mục 3.1. Khách hàng sẽ nhận được thông báo tại tài khoản đã đặt hàng trong vòng 7 ngày tiếp theo
            <br />
            <br />
            Nếu đơn hàng hoàn về hợp lệ, khách hàng sẽ nhận tiền hoàn về tài khoản ngân hàng từ 5-15 ngày làm việc. Trường hợp quý khách không có tài khoản ngân hàng, Sharyn sẽ quy đổi voucher với giá trị tương ứng của đơn hàng hoàn trả.
            <br />
            <br />
            Trong trường hợp đơn hàng KHÔNG hợp lệ, Sharyn sẽ liên hệ với quý khách để đề xuất hướng giải quyết tiếp theo.

        </p>
    </div>
    <div class="pt-5">
        <span class="text-lg font-medium">3. Đơn hàng trả về hợp lệ</span>
        <p class=" font-medium mt-3">3.1. Tình trạng Đơn hàng trả về:</p>

        <p class="mt-2">
            - Sản phẩm đúng như trong miêu tả đã điền trong phiếu “Yêu cầu trả hàng” và còn nguyên tình trạng ban đầu khi nhận hàng.

            <br />
            <br />
            - Đơn hàng phải được trả về toàn bộ số sản phẩm trong đơn hàng, bao gồm hàng mua, phụ kiện và quà tặng kèm.
            <br />
            <br />
            - Mỗi đơn hàng chỉ có thể yêu cầu trả hàng tối đa 1 lần.
        
        </p>

        <p class=" font-medium mt-3">3.2. Đơn hàng trả về không hợp lệ nếu:
        </p>
        <p class="mt-2">
            - Chưa cung cấp thông tin hoặc cung cấp không đầy đủ/ không chính xác với thông tin đã cung cấp theo “Yêu cầu trả hàng” tại website sharynkorea.com.vn

            <br />
            <br />
            - Quá 10 ngày kể từ ngày Sharyn xác nhận “Yêu cầu trả hàng” mà vẫn chưa nhận được đơn hàng hoàn về
            <br />
            <br />
            - Sản phẩm hoàn trả không đúng/không đủ với thông tin đã cung cấp tại phiếu “Yêu cầu trả hàng”: thiếu sản phẩm, thiếu quà tặng,…của đơn hàng
            <br />
            <br />
            - Các sản phẩm trong không đạt tiêu chuẩn hoàn trả tại mục 3.1, sau bước kiểm duyệt của Sharyn ngay khi nhận đơn hàng hoàn trả.
        
            <br />
            <br />
            Sự sắp xếp để trao đổi/hoàn trả cần thiết sẽ được xác định theo từng trường hợp. Vui lòng đảm bảo tất cả thông tin yêu cầu đổi trả là đầy đủ và chính xác để Sharyn hỗ trợ việc hoàn trả trong thời gian ngắn nhất.
        </p>

    </div>
    <div class="pt-5">
        <span class="text-lg font-medium">4. Chờ nhận hoàn tiền
        </span>
        <p class="mt-3">
            Nếu sản phẩm hoàn trả thỏa mãn các điều kiện tại mục 3, trong vòng 5-15 ngày (trừ Thứ 7, Chủ Nhật và các ngày lễ), Sharyn sẽ xử lý việc hoàn tiền qua tài khoản ngân hàng hoặc dưới hình thức tích quy đổi thành voucher qua tài khoản quý khách đã sử dụng đặt hàng, kể từ ngày đơn hàng được xác nhận hoàn tiền.
            <br />
            <br />
            Nếu sản phẩm không thỏa mãn các điều kiện tại mục 3, Sharyn rất tiếc không thể hoàn tiền cho quý khách. Mọi phản hồi về hàng hóa khác với các lý do bên trên, vui lòng liên hệ hotline 02877776788 để được tư vấn thêm.
        </p>
    </div>

</div>
