<div class="pt-10 pb-5 border">
    <div class="lg:max-w-6xl lg:mx-auto lg:px-8 mx-3">
        <h2 class="font-medium lg:text-4xl text-2xl">CHÍNH SÁCH GIAO HÀNG VÀ THANH TOÁN</h2>
    </div>
</div>
<div class="lg:max-w-6xl lg:mx-auto lg:px-8 py-10 mx-3">
    <span class="text-lg font-medium">Chính sách giao hàng</span>

    <div class="pt-5">
        <span class="text-lg font-medium">1. Phạm vi giao hàng</span>
        <p class="mt-3">
            - Sharyn nhận chuyển hàng đến các địa chỉ trong nước Việt Nam và
            Quốc tế. Thời gian được tính từ lúc Sharyn hoàn tất việc xác nhận
            đơn hàng với bạn, không tính các ngày lễ, thứ 7 và Chủ Nhật.
        </p>
    </div>
    <div class="pt-5">
        <span class="text-lg font-medium">2. Phương thức vận chuyển</span>
        <p class="mt-3">
            - Vận chuyển thường
            <br />
            <br />

            - Vận chuyển nhanh
            <br />
            <br />

            Lưu ý:
            <br />
            <br />

            - Các đơn đặt hàng trong ngày Chủ Nhật sẽ được bắt đầu giao hàng từ
            ngày thứ 2 tuần kế tiếp
            <br />
            <br />

            - Các đơn đặt hàng ngoài giờ hành chính sẽ tính thời gian bắt đầu từ
            sáng ngày hôm sau.
        </p>
    </div>
    <div class="pt-5">
        <span class="text-lg font-medium">3. Xem và đổi/ trả hàng</span>
        <p class="mt-3">
            - Sharyn khuyến khích khách hàng chụp lại kiện hàng khi nhận từ nhân
            viên giao hàng và sau khi mở kiện hàng để làm bằng chứng nếu có
            tranh chấp về sau.

            <br />
            <br />
            - Khách vui hàng lòng từ chối nhận hàng khi phát hiện kiện hàng có
            dấu hiệu ướt, rách, móp méo, không còn nguyên vẹn hoặc sai thông tin
            người nhận.
        </p>
    </div>
    <div class="pt-5">
        <span class="text-lg font-medium">Hướng dẫn thanh toán </span>
        <p class="mt-3">
            Khách hàng có thể thanh toán đơn hàng theo các phương thức sau:
            <br />
            <br />

            - Thanh toán khi nhận hàng (COD).
            <br />
            <br />

            - Thanh toán bằng thẻ ATM nội địa.
            <br />
            <br />

            - Thanh toán bằng thẻ tín dụng/ ghi nợ Visa/Master/JCB Card.
            <br />
            <br />

            - Thanh toán bằng ví điện tử Payoo - Momo.
            <br />
            <br />

            Bạn có thể chọn "Thanh toán khi giao hàng (COD)" hoặc "Thanh toán
            bằng thẻ ATM nội địa" hoặc "Thanh toán bằng Visa/Master/JCB Card"
            hoặc “Thanh toán bằng ví điện tử Payoo” ở bước chọn phương thức
            thanh toán.
        </p>
    </div>
    
</div>
