<div class="relative">
    <img
        src="../../../../assets/images/SẢN PHẨM/Banner-02.jpg"
        class="w-full h-full hidden lg:block"
        alt=""
    />
    <img
        src="../../../../assets/images/SẢN PHẨM/CHITIET-SANPHAM_SHARYN_1908-(file-rax).png"
        class="w-full h-full lg:hidden"
        alt=""
    />

    <div class="w-1/2 absolute left-1/2 top-1/2"></div>
    <div class="w-1/2 absolute left-1/2 top-1/2">
        <div
            class="absolute lg:left-8 top-1/2 lg:w-3/5  center-info w-full"
        >
            <p
                class="lg:text-2xl text-xl text-blue-500 uppercase font-bold"
                >bạn có hẹn<br class="lg:hidden" />
                tư vấn online<br />
                cùng sharyn ?</p
            >

            <div class="pt-3 pb-3">
                <input
                    type="text"
                    placeholder="SỐ ĐIỆN THOẠI"
                    id="small-input"
                    class="block px-3 lg:py-2 py-1 text-xs lg:text-sm lg:w-full w-3/4 text-gray-900 bg-gray-50 rounded-2xl border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                />
            </div>
            <div class="">
                <a
                    href=""
                    class="text-white text-sm lg:text-xs uppercase px-4 py-2 bg-blue-500 rounded-xl font-bold"
                    >tư vấn ngay</a
                >
            </div>
        </div>
    </div>
</div>