<div class="flex flex-col lg:max-w-6xl lg:mx-auto lg:px-8">
    <nav class="md:flex pt-5 hidden" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a
                    href="#"
                    class="uppercase inline-flex items-center font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
                >
                    <svg
                        class="mr-2 w-4 h-4"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
                        ></path>
                    </svg>
                    Home
                </a>
            </li>
            <!-- <li>
            <div class="flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a href="#" class="ml-1  font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Projects</a>
            </div>
          </li> -->
            <li aria-current="page">
                <div class="flex items-center">
                    <svg
                        class="w-6 h-6 text-gray-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"
                        ></path>
                    </svg>
                    <span
                        class="ml-1 font-medium text-gray-400 md:ml-2 dark:text-gray-500 uppercase"
                        >sản phẩm</span
                    >
                </div>
            </li>
        </ol>
    </nav>
    <div class="mt-10 lg:px-3 lg:px-0 lg:h-96 h-80">
        <div class="relative pt-5 intro box h-full">
            <div
                class="flex lg:flex-row flex-col left-0 top-0 w-full h-full absolute z-10"
            >
                <img
                    class="w-full h-full absolute left-0 hidden lg:block"
                    src="../../../../assets/images/SẢN PHẨM/Banner-01.jpg"
                    alt=""
                />
                <img
                    class="w-full h-full absolute left-0 lg:hidden"
                    src="../../../assets/images/banner-sp-mb.png"
                    alt=""
                />
                <div
                    class="left-1/2 top-1/2 absolute h-full flex justify-center flex-col"
                    style="transform: translateY(-50%)"
                >
                    <div class="">
                        <h3
                            class="font-bold text-white lg:text-5xl text-3xl uppercase title"
                        >
                            sản phẩm
                        </h3>
                        <div
                            class="uppercase lg:text-3xl text-lg relative"
                            id="split-text"
                        >
                            sharyn skin therapy
                            <div
                                class="absolute h-px w-3/5 bottom-0 left-0 bg-black"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="absolute left-1/2 bottom-0 w-4/5 h-1 bg-black md:hidden"
                style="transform: translateX(-50%)"
            ></div>
        </div>
    </div>
    <div class="lg:pt-20 pt-10 relative">
        <div class="px-3 lg:px-0">
            <div class="grid lg:grid-cols-3 grid-cols-1 gap-10">
                <div class="item-product" *ngFor="let item of products">
                    <a
                        class="flex flex-col items-center text-black h-full product-item "
                        routerLink="{{ item.slug }}"
                    >
                        <div class="w-full relative overflow-hidden h-3/5">
                            <img
                                src="{{ item.image }}"
                                class="w-full h-full"
                                alt=""
                            />
                            <div
                                class="absolute w-full h-full top-0 opacity-70 z-0 img-overlay"
                            ></div>
                            <div
                                class="absolute top-0 right-3 pt-2 pb-1 px-1 text-xl text-white bg-red-500 font-bold sale-popup"
                            >
                                {{ item.status }}
                            </div>
                            <div
                                class="w-4/6 h-1 bg-blue-500 bottom-0 left-1/2 absolute"
                                style="transform: translateX(-50%)"
                            ></div>
                        </div>
                        <div
                            class=" flex flex-col items-center h-2/5 justify-between"
                        >
                            <p class="font-bold text-2xl uppercase text-center pt-3">
                                {{ item.name }}
                            </p>
                            <span class="uppercase text-lg text-center">
                                {{item.desnoibat}}
                            </span>
                            <div
                                class="price text-base font-bold text-3xl"
                            >
                                {{ item.price | currency: "VND" }}
                            </div>
                            <div
                                class="cursor-pointer px-4 py-2 rounded-lg uppercase text-xl text-white bg-blue-500 font-bold"
                            >
                                XEM NGAY
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="absolute h-px top-10 bg-black w-full hidden md:block"></div>
    </div>
    <div class="product py-5 mx-3 md:mx-0">
        <div class="flex flex-col more-hover">
            <div class="flex mb-3">
                <h3 class="text-2xl text-blue-500 uppercase mb-0 font-bold">
                    GỢI Ý DÀNH RIÊNG CHO BẠN
                </h3>
            </div>
            <div class="w-full bg-black" style="height: 1px"></div>
        </div>

        <div class="grid lg:grid-cols-4 grid-cols-2 gap-4 pt-5">
            <div class="lg:h-68" *ngFor="let item of combo">
                <a
                    class="flex flex-col text-black h-full product-item"
                    href="#"
                >
                    <div class="w-full  h-40 relative overflow-hidden ">
                        <div
                            class="absolute w-full h-full top-0 opacity-70 z-0 img-overlay"
                        ></div>
                        <img
                            src="{{ item.image }}"
                            class="w-full h-full object-cover"
                            alt=""
                        />
                    </div>
                    <div class="pt-3">
                        <div class="relative">
                            <p class="font-bold uppercase text-xs md:text-md">
                                {{ item.name }}
                            </p>

                            <div
                                class="absolute bottom-0 lg:w-1/3 w-1/2 left-0 h-px bg-black"
                            ></div>
                        </div>
                        <div class="lg:flex hidden items-center">
                            <p class="pr-2 mb-0 text-blue-500 text-xl">
                                {{ item.price }}
                            </p>
                            <!-- <div class="relative flex">
                                <p class="text-xs mb-0">1.780.000đ</p>
                                <div
                                    class="absolute top-1/2 left-0 w-full rotate-line"
                                ></div>
                            </div> -->
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- <div
            class="flex justify-center items-center pt-3 button-hover cursor-pointer"
        >
            <a href="'#" class="lg:hidden px-4 py-2 uppercase rounded-lg border border-black"
                >xem thêm sản phẩm nổi bật</a
            >
        </div> -->
    </div>
    <div class="py-10">
        <app-banner-form></app-banner-form>
    </div>
</div>
