<div class=" mt-4 bg-[#fafafa]  ">
    <swiper [pagination]="true" [config]="config" class="mySwiper">
        <ng-template swiperSlide>
            <div class="relative lg:h-96 h-72 bg-white">
                <div class="w-full  h-full right-0 lg:relative absolute">
                    <div class="h-full">
                        <img
                            class="w-full h-full lg:block hidden"
                            src="../../../assets/images/homepage/Banner.png"
                        />
                        <img
                            class="w-full h-full lg:hidden "
                            src="../../../assets/images/homepage/mobile/HOME_SHARYN_1908-(1).png"

                        />
                    </div>
                </div>
                <!-- <div class="lg:w-2/6 absolute lg:right-0 top-1/2 center hidden">
                    <div class="flex flex-col justify-center">
                        <div class="relative lg:w-64">
                            <span
                                class="lg:text-5xl text-3xl text-blue-500 tracking-widest"
                                >HA <br />AMPOULE
                            </span>
                            <div
                                class="absolute w-full bottom-0 bg-black"
                                style="height: 1px"
                            ></div>
                        </div>
                        <div class="flex flex-col mt-2">
                            <span
                                class="uppercase text-black font-medium lg:text-xl text-sm lg:pb-2"
                                >cấp ẩm - dưỡng da</span
                            >
                            <span class="uppercase text-black font-medium lg:text-xl text-sm"
                                >chăm sóc toàn diện
                            </span>
                        </div>
                        <div class="flex pt-5 items-center ">
                            <span class="text-sm uppercase text-black mr-2  ">
                                mua ngay</span
                            >
                            <span class="material-icons">
                                arrow_right_alt
                                </span>
                        </div>
                    </div>
                </div> -->
            </div>
            </ng-template
        ><ng-template swiperSlide>
            <div class="relative lg:h-96 h-72 bg-white">
                <div class="lg:w-4/6 w-full h-full right-0 lg:relative absolute">
                    <div class="h-full">
                        <img
                            class="w-full h-full lg:block hidden"
                            src="../../../assets/images/homepage/HOME_SHARYN_1908-(32).png"
                        />
                        <img
                            class="w-full h-full lg:hidden cover-img"
                            src="../../../assets/images/homepage/mobile/DNA00.png"


                        />
                    </div>
                </div>
                <div class="lg:w-2/6 absolute lg:right-0 top-1/2 center hidden">
                    <div class="flex flex-col justify-center">
                        <div class="relative lg:w-64">
                            <span
                                class="lg:text-5xl text-3xl text-blue-500 tracking-widest"
                                >MIRACLE  <br />EX SPICULE
                            </span>
                            <div
                                class="absolute w-full bottom-0 bg-black"
                                style="height: 1px"
                            ></div>
                        </div>
                        <div class="flex flex-col mt-2">
                            <span
                                class="uppercase text-black font-medium lg:text-xl text-sm lg:pb-2"
                                >Xóa nám tận gốc</span
                            >
                            <span class="uppercase text-black font-medium lg:text-xl text-sm"
                                >Hiệu quả sau 7 ngày
                            </span>
                        </div>
                        <div class="flex pt-5 items-center ">
                            <span class="text-sm uppercase text-black mr-2 buy-center  ">
                                mua ngay</span
                            >
                            <span class="material-icons arrow-left">
                                arrow_right_alt
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            </ng-template
        ><ng-template swiperSlide>
            <div class="relative lg:h-96 h-72 bg-white">
                <div class="lg:w-4/6 w-full h-full right-0 lg:relative absolute">
                    <div class="h-full">
                        <img
                            class="w-full h-full lg:block hidden"
                            src="../../../assets/images/homepage/HOME_SHARYN_1908-(34).png"
                        />
                        <img
                            class="w-full h-full lg:hidden cover-img"
                            src="../../../assets/images/homepage/mobile/Mrcl.png"

                        />
                    </div>
                </div>
                <div class="lg:w-2/6 absolute lg:right-0 top-1/2 center hidden">
                    <div class="flex flex-col justify-center">
                        <div class="relative lg:w-64">
                            <span
                                class="lg:text-5xl text-3xl text-blue-500 tracking-widest"
                                > DNA SHARYN
                            </span>
                            <div
                                class="absolute w-full bottom-0 bg-black"
                                style="height: 1px"
                            ></div>
                        </div>
                        <div class="flex flex-col mt-2">
                            <span
                                class="uppercase text-black font-medium lg:text-xl text-sm lg:pb-2"
                                >cấp ẩm - dưỡng da</span
                            >
                            <span class="uppercase text-black font-medium lg:text-xl text-sm"
                                >Chống lão hóa toàn diện
                            </span>
                        </div>
                        <div class="flex pt-5 items-center ">
                            <span class="text-sm uppercase text-black mr-2 buy-center  ">
                                mua ngay</span
                            >
                            <span class="material-icons arrow-left">
                                arrow_right_alt
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            </ng-template
        >
      </swiper>
      
</div>
