
.center-info {
    transform: translateY(-50%);
  }
  .three-dot{
      line-height: 1.6rem;
  overflow: hidden;
  display: -webkit-box; 
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  max-height: 8.2rem;
  }