<div class="flex flex-col lg:max-w-6xl lg:mx-auto lg:px-8">
    <nav class="flex pt-5 hidden lg:block" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a
                    href="#"
                    class="uppercase inline-flex items-center font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
                >
                    <svg
                        class="mr-2 w-4 h-4"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
                        ></path>
                    </svg>
                    Home
                </a>
            </li>
            <!-- <li>
            <div class="flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a href="#" class="ml-1  font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Projects</a>
            </div>
          </li> -->
            <li aria-current="page">
                <div class="flex items-center">
                    <svg
                        class="w-6 h-6 text-gray-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"
                        ></path>
                    </svg>
                    <span
                        class="ml-1 font-medium text-gray-400 md:ml-2 dark:text-gray-500 uppercase"
                        >Blog</span
                    >
                </div>
            </li>
        </ol>
    </nav>
    <div class="md:mt-10 lg:px-0">
        <div class="relative h-full">
            <div
                class="flex lg:flex-row flex-col left-0 top-0 w-full h-full z-10"
            >
                <img
                    class="w-full h-full hidden lg:block"
                    src="../../../../assets/images/Blog/BLOG_SHARYN_1908.png"
                    alt=""
                />
                <img
                    class="w-full h-full lg:hidden"
                    src="../../../assets/images/banner-sp-mb.png"
                    alt=""
                />
                <!-- <div
                    class="left-1/2 top-1/2 absolute h-full flex justify-center flex-col"
                    style="transform: translateY(-50%)"
                >
                    <div class="">
                        <h2
                            class="font-bold text-white text-5xl uppercase title"
                        >
                            sản phẩm
                        </h2>
                        <div
                            class="text-justify uppercase text-3xl relative"
                            id="split-text"
                        >
                            sharyn skin therapy
                            <div
                                class="absolute h-px w-3/5 bottom-0 left-0 bg-black"
                            ></div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="absolute left-0 top-0 w-full h-full rectangle"></div>
        </div>
    </div>
    <div class="flex md:flex-row flex-col-reverse pt-10 px-3 md:px-0">
        <div class="md:w-2/6 w-full flex items-center flex-col justify-center">
            <div class="relative md:pl-5 md:pt-0 pt-3 text-justify">
                <div class="relative">
                    <h3 class="text-2xl font-bold">
                        Sharyn - "Ngôi sao mới" trong làng mỹ phẩm chăm sóc da
                        Hàn Quốc.
                    </h3>
                    <div class="absolute h-px bg-black w-2/3"></div>
                </div>
                <p class="leading-5 text-justify py-3">
                    Lấy cảm hứng từ ý nghĩa những bông hồng Sharon - Quốc hoa xứ
                    kim chi, thương hiệu mỹ phẩm chăm sóc da cao cấp Sharyn
                    nhanh chóng trở thành lựa chọn hàng đầu của những quý cô yêu
                    thích làn da chuẩn mướt tự nhiên.
                </p>
                <div class="flex w-full">
                    <span class="text-xl text-blue-500 uppercase font-bold"
                        >xem thêm</span
                    >
                    <span class="material-icons text-blue-500 ml-3">
                        east
                    </span>
                </div>
                <div class="absolute h-full md:w-2 w-0 bg-gray-200 left-0 top-0"></div>
            </div> 
        </div>
        <div class="md:w-4/6 w-full md:ml-7">
            <div class="w-full h-full">
                <img
                    src="../../../../assets/images/Blog/Sharyn---“Ngôi-sao-mới.png"
                    class="w-full h-full hidden md:block"
                />
                <img
                class="w-full h-full lg:hidden"
                src="../../../../assets/images/Blog/11.png"
                alt=""
            />
            </div>
        </div>
    </div>
    <div class="pt-10 flex flex-col items-center justify-center md:px-0 px-3">
        <div class="grid md:grid-cols-2 grid-cols-1 md:gap-16 gap-5">
            <div class="flex  w-full">
                <div class="md:w-3/5 w-1/2 h-full mr-4">
                    <img
                        class="w-full h-full"
                        src="../../../../assets/images/Blog/Review-Sharyn-Miracle.png"
                    />
                </div>
                <div class="md:w-2/5 w-1/2 flex items-center flex-col justify-center">
                    <div class="relative pb-2">
                        <p class="md:text-lg text-justify font-bold text-sm">
                            Review Sharyn Miracle Ex Spicule: làn da tươi trẻ
                            không cần đến spa
                        </p>
                        <div
                            class="absolute h-px bg-gray-400 w-4/5 bottom-0"
                        ></div>
                    </div>
                    <p class="py-3 text-justify md:text-sm text-xs leading-5 three-dot ">
                        Bạn đang quan tâm tới mỹ phẩm có tên gọi khá dài. Sharyn
                        Miracle Ex Spicule. Không biết review em nó có tốt
                        không? Giá bao nhiêu? Mua hàng chính hãng ở đâu? Trong
                        bài viết này, mình sẽ giúp bạn hiểu rõ hơn về sản phẩm
                        này. Nào chúng ta cùng bắt đầu nhé.
                    </p>
                    <div class="flex w-full items-center pt-2">
                        <a class="text-blue-500 uppercase font-bold md:text-base text-sm" href="#"
                            >XEM THÊM</a
                        >
                        <span
                            class="material-icons ml-2 text-blue-500 font-bold"
                        >
                            arrow_right_alt
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex  w-full">
                <div class="md:w-3/5 w-1/2 h-full mr-4">
                    <img
                        class="w-full h-full"
                        src="../../../../assets/images/Blog/Tinh-chất-Miracle-Ex-Spicule.png"
                    />
                </div>
                <div class="md:w-2/5 w-1/2 flex items-center flex-col justify-center">
                    <div class="relative pb-2">
                        <p class="md:text-lg text-justify font-bold text-sm">
                            Tinh chất Miracle Ex Spicule: Chống lão hóa, mờ sẹo
                            thâm mụn
                        </p>
                        <div
                            class="absolute h-px bg-gray-400 w-4/5 bottom-0"
                        ></div>
                    </div>
                    <p class="py-3 text-justify md:text-sm text-xs leading-5 three-dot ">
                        Có thể nói chủ đề làm đẹp chưa bao giờ hết hot đối với
                        chị em phụ nữ. Khi đời sống càng cao thì nhu cầu làm đẹp
                        cũng tăng lên. Trong số các sản phẩm chăm sóc da hiện
                        nay, Miracle Ex Spicule được đánh giá cao về chất lượng.
                        Hôm nay chúng ta cùng review tinh chất Miracle xem liệu
                        giải pháp này có mang lại cho bạn làn da căng mịn, sáng
                        hồng như lời quảng cáo không nhé.
                    </p>
                    <div class="flex w-full items-center pt-2">
                        <a class="text-blue-500 uppercase font-bold md:text-base text-sm" href="#"
                            >XEM THÊM</a
                        >
                        <span
                            class="material-icons ml-2 text-blue-500 font-bold"
                        >
                            arrow_right_alt
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex  w-full">
                <div class="md:w-3/5 w-1/2 h-full mr-4">
                    <img
                        class="w-full h-full"
                        src="../../../../assets/images/Blog/Tinh-chất-Miracle-Ex-Spicule.png"
                    />
                </div>
                <div class="md:w-2/5 w-1/2 flex items-center flex-col justify-center">
                    <div class="relative pb-2">
                        <p class="md:text-lg text-justify font-bold text-sm">
                            Mỹ phẩm chăm sóc da Sharyn của Hàn Quốc
                        </p>
                        <div
                            class="absolute h-px bg-gray-400 w-4/5 bottom-0"
                        ></div>
                    </div>
                    <p class="py-3 text-justify md:text-sm text-xs leading-5 three-dot ">
                        Thương hiệu mỹ phẩm chăm sóc Sharyn ra đời được 5 năm và
                        lấy cảm hứng từ ý nghĩa của hoa hồng Sharon - quốc hoa
                        xứ kim chi. Hoa hồng Sharon mang vẻ đẹp giản dị, thanh
                        tao, là biểu tượng cho tính cách của người Hàn Quốc. So
                        với các loại hoa khác, hoa hồng Sharon có sức chịu đựng
                        rất dẻo dai, tượng trưng cho sinh lực mạnh mẽ, sự phát
                        triển không ngừng và sự thịnh vượng của quốc gia.
                    </p>
                    <div class="flex w-full items-center pt-2">
                        <a class="text-blue-500 uppercase font-bold md:text-base text-sm" href="#"
                            >XEM THÊM</a
                        >
                        <span
                            class="material-icons ml-2 text-blue-500 font-bold"
                        >
                            arrow_right_alt
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex  w-full">
                <div class="md:w-3/5 w-1/2  mr-4">
                    <img
                        class="w-full h-full object-contains"
                        src="../../../../assets/images/Blog/Review-Sharyn-Miracle.png"
                    />
                </div>
                <div class="md:w-2/5 w-1/2 flex items-center flex-col justify-center">
                    <div class="relative pb-2">
                        <p class="md:text-lg text-justify font-bold text-sm">
                            Sharyn - “Ngôi sao mới” trong làng mỹ phẩm chăm sóc
                            da Hàn Quốc
                        </p>
                        <div
                            class="absolute h-px bg-gray-400 w-4/5 bottom-0"
                        ></div>
                    </div>
                    <p class="py-3 text-justify md:text-sm text-xs leading-5 three-dot ">
                        Lấy cảm hứng từ ý nghĩa những bông hồng Sharon - Quốc
                        hoa xứ kim chi, thương hiệu mỹ phẩm chăm sóc da cao cấp
                        Sharyn nhanh chóng trở thành lựa chọn hàng đầu của những
                        quý cô yêu thích làn da chuẩn mướt tự nhiên.
                    </p>
                    <div class="flex w-full items-center pt-2">
                        <a class="text-blue-500 uppercase font-bold md:text-base text-sm" href="#"
                            >XEM THÊM</a
                        >
                        <span
                            class="material-icons ml-2 text-blue-500 font-bold"
                        >
                            arrow_right_alt
                        </span>
                    </div>
                </div>
            </div>
          
        </div>
        <nav aria-label="Page navigation example" class="pt-10">
            <ul class="inline-flex items-center -space-x-px">
                <li class="pr-4">
                    <a
                        href="#"
                        class="block w-7 h-7 flex items-center flex-col justify-center ml-0 leading-tight text-gray-500 bg-white rounded-full border border-gray-400 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                    >
                        <span class="sr-only">Previous</span>
                        <svg
                            class="w-5 h-5"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a
                        href="#"
                        class="block w-7 h-7 flex items-center flex-col justify-center ml-0 leading-tight text-gray-500 bg-white rounded-full border border-black hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        >1</a
                    >
                </li>
                <li class="px-3">
                    <a
                        href="#"
                        class="block w-7 h-7 flex items-center flex-col justify-center ml-0 leading-tight text-gray-500 bg-white rounded-full border border-black hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        >2</a
                    >
                </li>

                <li>
                    <a
                        href="#"
                        class="block w-7 h-7 flex items-center flex-col justify-center ml-0 leading-tight text-gray-500 bg-white rounded-full border border-black hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        >...</a
                    >
                </li>

                <li class="pl-4">
                    <a
                        href="#"
                        class="block w-7 h-7 flex items-center flex-col justify-center leading-tight text-gray-500 bg-white rounded-full border border-gray-400 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                    >
                        <span class="sr-only">Next</span>
                        <svg
                            class="w-5 h-5"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="py-10">
       <app-banner-form></app-banner-form>
    </div>
</div>
