<div class="flex flex-col lg:max-w-6xl lg:mx-auto lg:px-8">
    <nav class="md:flex pt-5 hidden" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a
                    href="#"
                    class="uppercase inline-flex items-center font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
                >
                    <svg
                        class="mr-2 w-4 h-4"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
                        ></path>
                    </svg>
                    Home
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg
                        class="w-6 h-6 text-gray-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"
                        ></path>
                    </svg>
                    <a
                        routerLink="../"
                        class="ml-1 font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white uppercase"
                        >Sản phẩm</a
                    >
                </div>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg
                        class="w-6 h-6 text-gray-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"
                        ></path>
                    </svg>
                    <span
                        class="ml-1 font-medium text-gray-400 md:ml-2 dark:text-gray-500 uppercase"
                        >{{ productDetail.name }}</span
                    >
                </div>
            </li>
        </ol>
    </nav>
    <div class="md:pt-10 flex lg:mx-5 md:flex-row flex-col">
        <div class="md:w-2/3 w-full md:pr-20 product-detail">
            <swiper
                [pagination]="true"
                [navigation]="true"
                [config]="config"
                class="mySwiper"
            >
                <ng-template
                    swiperSlide
                    *ngFor="let item of productDetail.image | keyvalue"
                >
                    <div class="w-full h-full bg-red-200">
                        <img
                            src="{{ item.value }}"
                            class="w-full h-full"
                            alt=""
                        />
                    </div>
                </ng-template>
            </swiper>
        </div>

        <div class="md:w-1/3 w-full">
            <div
                class="w-full h-full flex flex-col items-center justify-center px-3 md:px-0"
            >
                <p
                    class="md:text-4xl text-3xl pt-3 md:pt-0 font-bold uppercase text-center"
                >
                    {{ productDetail.name }}
                </p>
                <div
                    [innerHTML]="productDetail.des"
                    class="md:text-xl uppercase text-center pt-2"
                ></div>

                <div class="md:py-3 py-2">
                    <p class="text-xl font-bold">{{productDetail.khoiluong}} - {{productDetail.price | currency:"VND"}}</p>
                    <!-- <div class="text-lg relative text-center">
                        (Giá gốc:
                        {{ productDetail.priceold | currency: "VND" }})

                        <div
                            class="absolute left-1/2 top-1/2 h-px w-full bg-black"
                            style="transform: translate(-50%, 50%)"
                        ></div>
                    </div> -->
                </div>
                <div
                    class="w-full pt-5 flex items-center justify-center flex-col"
                >
                    <button
                        class="py-3 w-4/5 bg-blue-500 text-white md:text-lg uppercase flex items-center justify-center font-bold"
                    >
                        <span class="material-icons mr-2"> shopping_cart </span>
                        Mua ngay
                    </button>
                    <button
                        class="py-3 w-4/5 bg-blue-500 text-white md:text-lg uppercase flex items-center justify-center font-bold mt-5"
                    >
                        <span class="material-icons mr-2"> location_on </span>
                        hệ thống cửa hàng
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-10">
        <div
            class="w-full text-center flex flex-row items-center justify-between"
        >
            <div class="md:w-full w-1/4 bg-black h-px"></div>

            <div
                class="md:text-2xl text-lg font-bold md:mx-10 md:w-3/5 w-full uppercase text-center"
            >
                thông tin sản phẩm
            </div>

            <div class="md:w-full w-1/4 bg-black h-px"></div>
        </div>
        <div class="pt-5">
            <div class="w-full flex relative">
                <div
                    class="w-3/5 h-full absolute left-1/3 mr-10 z-10 centerX-img"
                >
                    <div class="absolute top-10 left-0 w-full hidden md:block">
                        <p class="text-lg text-justify">
                            <strong>Siêu tinh thể Miracle Ex Spicule</strong>
                            là mỹ phẩm dạng kem, chứa đầu kim nano sinh học tự
                            tan, ứng dụng trong quá trình ĐIỀU TRỊ, TÁI TẠO VÀ
                            PHỤC HỒI da, bao gồm ba thành phần chính: EGF – tăng
                            trưởng biểu bì; Retinal – trẻ hoá da, điều trị mụn,
                            hỗ trợ xoá nhăn; Arbutin – Trắng sáng da, ức chế sắc
                            tố duy trì vẻ đẹp làn da bền vững theo thời gian mà
                            không cần đi spa, thẩm mỹ viện:
                        </p>
                    </div>
                    <div
                        class="absolute md:bottom-10 bottom-5 md:left-12 left-1"
                    >
                        <ul>
                            <li
                                class="lg:text-lg text-xs font-bold md:pt-5 pt-2 items-center flex"
                            >
                                <span
                                    class="material-icons text-md md:text-lg mr-3 text-blue-500"
                                >
                                    done
                                </span>
                                Da khỏe khoắn, căng bóng chỉ sau 3 ngày
                            </li>
                            <li
                                class="lg:text-lg text-xs font-bold md:pt-5 pt-2 items-center flex"
                            >
                                <span
                                    class="material-icons text-md md:text-lg mr-3 text-blue-500"
                                >
                                    done
                                </span>
                                Bề mặt da đàn hồi, săn chắc, thâm nám, nếp nhăn
                                mờ dần và mất hẳn
                            </li>
                            <li
                                class="lg:text-lg text-xs font-bold md:pt-5 pt-2 items-center flex"
                            >
                                <span
                                    class="material-icons text-md md:text-lg mr-3 text-blue-500"
                                >
                                    done
                                </span>
                                Làn da thay đổi kỳ diệu: tươi tắn, trẻ trung hơn
                                tuổi thật sau 4 tuần
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="w-full h-full z-0">
                    <img
                        src="../../../../../assets/images/SẢN PHẨM CHI TIẾT/Thông tin sản phẩm/TTSP.png"
                        class="w-full h-full hidden md:block"
                    />
                    <img
                        src="../../../../../assets/images/banner-thongtin-mb.png"
                        class="w-full h-full md:hidden"
                    />
                </div>
            </div>
            <div class="w-full h-full bg-gray-200 md:hidden">
                <div class="p-3">
                    <p class="text-lg text-justify">
                        <strong
                            >Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit.</strong
                        >
                        Beatae dignissimos eaque nihil sit illo nobis nesciunt
                        asperiores a unde! Culpa non eum pariatur debitis
                        aspernatur maiores unde, quod soluta omnis? Lorem ipsum
                        dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </div>
            <div class="md:pt-10 pt-5 md:mx-10 mx-3">
                <p class="text-lg des">
                    Tinh chất Miracle Ex Spicule được công nhận là bước đột phá
                    trong công nghệ bào chế các sản phẩm mỹ phẩm chăm sóc sắc
                    đẹp với cơ chế tác động lên làn da theo 03 giai đoạn như
                    sau:
                    <br />
                    Giai đoạn 1: Cảm nhận ngay từ lần sử dụng đầu tiên
                    <br />

                    - Sau khi thoa tinh chất Miracle Ex Spicule, bạn sẽ thấy làn
                    da của mình trở nên căng mịn và sáng hồng ngay tức khắc.
                    <br />

                    Giai đoạn 2: Sau 07 ngày sử dụng
                    <br />

                    - Các vết chân chim (đặc biệt là ở vùng đuôi mắt) sẽ giảm đi
                    trông thấy.
                    <br />

                    - Nếp nhăn trên gương mặt được xóa mờ và cải thiện rõ rệt.
                    Giai đoạn 3: Sau 14 ngày sử dụng - Gần như không còn các vết
                    thâm nám, tàn nhang, vết đồi mồi hay sạm da. - Trả lại cho
                    bạn một vẻ ngoài hồng hào rạng rỡ và tràn đầy sức sống. Đều
                    đặn sử dụng tinh chất Miracle Ex Spicule cách 3 ngày dùng
                    một lần, mỗi lần khoảng 0.5 - 1ml, làn da của bạn sẽ thăng
                    hạng lên một tầm cao mới. Giúp bạn lấy lại sự tự tin vốn có
                    mỗi khi ra ngoài và tiếp xúc với bạn bè, đồng nghiệp,...
                </p>

                <a class="text-lg text-blue-500 font-bold pt-3" href="#"
                    >Xem thêm &raquo;</a
                >
            </div>
        </div>
    </div>
    <div class="md:pt-10">
        <div class="w-full text-centerw-full md:flex hidden items-center">
            <div class="w-full bg-black h-px"></div>

            <p class="text-4xl mx-10 w-full uppercase text-center uppercase">
                miracle ex spicule
            </p>

            <div class="w-full bg-black h-px"></div>
        </div>
        <div class="md:hidden tabs-mobile">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <p class="text-2xl uppercase">Thành phần</p>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-thanhphan></app-thanhphan>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <p class="text-2xl uppercase">hiệu quả</p>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-hieuqua></app-hieuqua>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <p class="text-2xl uppercase">Cách sử dụng</p>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-cachsudung></app-cachsudung>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <p class="text-2xl uppercase">đánh giá</p>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-danhgia></app-danhgia>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="pt-10 hidden md:block">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="THÀNH PHẦN">
                    <app-thanhphan></app-thanhphan>
                </mat-tab>
                <mat-tab label="HIỆU QUẢ">
                    <app-hieuqua></app-hieuqua>
                </mat-tab>
                <mat-tab label="CÁCH SỬ DỤNG">
                    <app-cachsudung></app-cachsudung>
                </mat-tab>
                <mat-tab label="ĐÁNH GIÁ">
                    <app-danhgia></app-danhgia>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="w-full bg-blue-500 mt-10">
        <div class="py-5 px-10 grid grid grid-cols-4 gap-5">
            <div
                class="flex items-center justify-center flex-col w-full border-b-2 pb-2 md:mx-3 mx-1 border-white w-full"
            >
                <div class="">
                    <img
                        src="../../../../../assets/images/SẢN PHẨM CHI TIẾT/Icon/FreeShip.png"
                        class="w-full h-full"
                        alt=""
                    />
                </div>
            </div>
            <div
                class="flex items-center justify-center flex-col w-full border-b-2 pb-2 md:mx-3 mx-1 border-white w-full"
            >
                <div class="">
                    <img
                        src="../../../../../assets/images/SẢN PHẨM CHI TIẾT/Icon/24.7.png"
                        class="w-full h-full"
                        alt=""
                    />
                </div>
            </div>
            <div
                class="flex items-center justify-center flex-col w-full border-b-2 pb-2 md:mx-3 mx-1 border-white w-full"
            >
                <div class="">
                    <img
                        src="../../../../../assets/images/SẢN PHẨM CHI TIẾT/Icon/SAFE.png"
                        class="w-full h-full"
                        alt=""
                    />
                </div>
            </div>
            <div
                class="flex items-center justify-center flex-col w-full border-b-2 pb-2 md:mx-3 mx-1 border-white w-full"
            >
                <div class="">
                    <img
                        src="../../../../../assets/images/SẢN PHẨM CHI TIẾT/Icon/_.png"
                        class="w-full h-full"
                        alt=""
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="pt-10">
        <div class="w-full text-centerw-full flex items-center">
            <div class="md:w-full w-1/4 bg-black h-px"></div>

            <p
                class="md:text-4xl text-lg md:mx-10 font-bold w-full uppercase text-center uppercase"
            >
                sản phẩm bổ sung
            </p>

            <div class="md:w-full w-1/4 bg-black h-px"></div>
        </div>

        <swiper [pagination]="true" [config]="config1" class="mySwiper pb-12">
            <ng-template swiperSlide>
                <div class="w-full">
                    <div class="w-full h-40 relative">
                        <div class="absolute left-0 top-0 z-0 w-full h-full">
                            <img
                                src="../../../../../assets/images/SẢN PHẨM CHI TIẾT/SP BỔ SUNG/Cream.png"
                                class="w-full h-full object-cover"
                            />
                        </div>
                    </div>
                    <p class="font-bold text-xl pt-3 one-dot">
                        INTENSIVE UV SUNBLOCK CREAM
                    </p>
                    <p class="pt-1 font-bold">550.000đ</p>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="w-full">
                    <div class="w-full h-40 relative">
                        <div class="absolute left-0 top-0 z-0 w-full h-full">
                            <img
                                src="../../../../../assets/images/SẢN PHẨM CHI TIẾT/SP BỔ SUNG/4in1.png"
                                class="w-full h-full object-cover"
                            />
                        </div>
                    </div>
                    <p class="font-bold text-xl pt-3 one-dot">CREAM 4IN1</p>
                    <p class="pt-1 font-bold">800.000đ</p>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="w-full">
                    <div class="w-full h-40 relative">
                        <div class="absolute left-0 top-0 z-0 w-full h-full">
                            <img
                                src="../../../../../assets/images/SẢN PHẨM CHI TIẾT/SP BỔ SUNG/DNA.png"
                                class="w-full h-full object-cover"
                            />
                        </div>
                    </div>
                    <p class="font-bold text-xl pt-3 one-dot">DNA SHARYN</p>
                    <p class="pt-1 font-bold">1.200.000đ</p>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="w-full">
                    <div class="w-full h-40 relative">
                        <div class="absolute left-0 top-0 z-0 w-full h-full">
                            <img
                                src="../../../../../assets/images/SẢN PHẨM CHI TIẾT/SP BỔ SUNG/HA.png"
                                class="w-full h-full object-cover"
                            />
                        </div>
                    </div>
                    <p class="font-bold text-xl pt-3 one-dot">HA AMPOULE</p>
                    <p class="pt-1 font-bold">590.000đ</p>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="w-full">
                    <div class="w-full h-40 relative">
                        <div class="absolute left-0 top-0 z-0 w-full h-full">
                            <img
                                src="../../../../../assets/images/SẢN PHẨM CHI TIẾT/SP BỔ SUNG/Miracle.png"
                                class="w-full h-full object-cover"
                            />
                        </div>
                    </div>
                    <p class="font-bold text-xl pt-3 one-dot">MIRACLE EX SPICULE</p>
                    <p class="pt-1 font-bold">890.000đ</p>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="w-full">
                    <div class="w-full h-40 relative">
                        <div class="absolute left-0 top-0 z-0 w-full h-full">
                            <img
                                src="../../../../../assets/images/SẢN PHẨM CHI TIẾT/SP BỔ SUNG/Pearly.png"
                                class="w-full h-full object-cover"
                            />
                        </div>
                    </div>
                    <p class="font-bold text-xl pt-3 one-dot">PEARLY</p>
                    <p class="pt-1 font-bold">1.800.000đ</p>
                </div>
            </ng-template>
        </swiper>
    </div>
    <div class="py-10">
        <app-banner-form></app-banner-form>
    </div>
</div>
